<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrapselect/bootstrap-select.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-table/bootstrap-table.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-date/bootstrap-datetimepicker.css}"/>

    <script type="application/javascript" th:src="@{/js/jquery.js}"></script>

    <script type="application/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap-table/bootstrap-table-zh-CN.js}"></script>

    <script type="application/javascript" th:src="@{/plugins/bootstrapselect/bootstrap-select.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootbox/bootbox.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootbox/bootbox.locales.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap-date/bootstrap-datetimepicker.js}"></script>

    <script type="application/javascript" th:src="@{/js/jquery.serializejson.js}"></script>

    <script type="application/javascript" th:src="@{/js/ylybcx/ylybcx.js}"></script>

    <style>
        label {
            text-align: right;
        }

        #hoverspan:hover{
            font-weight:bold;
            color: red;
        }

    </style>

</head>
<body>

<form  id="mainform">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title accordion-toggle">监督检查/日常检查</h3>
        </div>

        <div class="panel-body" style="width: auto">
            <div class="row">
                <!-- r1 -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label  required-label">经(代)办机构</label>
                        <div class="col-md-8">
                            <select class="selectpicker form-control" name="dbjg" id="dbjg" multiple>
                                <option th:value="0">请选择</option>
                                <option th:each="option : ${DBJG_options.entrySet()}" th:value="${option.key}" th:text="${option.value}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">统一社会信用代码</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="xydm"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label  required-label" >汇总人</label>
                        <div class="col-md-8">
                            <select class="form-control" name="hzr" id="hzr"></select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label  class="col-md-4 control-label">汇总日期</label>
                            <div class="input-group col-md-8">
                                <input class="form-control" type="date" name="dateFrom" />
                            </div>
                            <span class="help-block"></span>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">至</label>
                            <div class="input-group col-md-8">
                                <input class="form-control" type="date" name="dateTo" />
                            </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label  class="col-md-4 control-label">报表日期</label>
                        <div class="input-group col-md-8">
                            <input class="form-control" type="date" name="reportdate" />
                        </div>
                        <span class="help-block"></span>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label  required-label" >支付原因</label>
                        <div class="col-md-8">
                            <select class="form-control" name="zfyy" id="zfyy"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label  required-label" >业务转财务标志</label>
                        <div class="col-md-8">
                            <select class="form-control" name="ywzcwbz" id="ywzcwbz"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label  required-label" >业务标志</label>
                        <div class="col-md-8">
                            <select class="form-control" name="ywbz" id="ywbz"></select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label  required-label" >财务标志</label>
                        <div class="col-md-8">
                            <select class="form-control" name="cwbz" id="cwbz"></select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">支付金额大于</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="zfje"/>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">支付次数大于</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="zfcs"/>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label  required-label" >附言</label>
                        <div class="col-md-8">
                            <select class="form-control" name="fy" id="fy"></select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label  required-label" >发放地点</label>
                        <div class="col-md-8">
                            <select class="form-control" name="fhdd" id="fhdd"></select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label  required-label" >检查类型</label>
                        <div class="col-md-8">
                            <select class="form-control" name="jclx" id="jclx"></select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label  class="col-md-4 control-label">月报生成日期起</label>
                            <div class="input-group col-md-8">
                                <input class="form-control" type="date" name="ybdateFrom" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">月报生成日期止</label>
                            <div class="input-group col-md-8">
                                <input class="form-control" type="date" name="ybdateTo" />
                            </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="query_btn" >查询</button>
                <button type="reset" class="btn btn-default" id="clear_btn" >清空</button>
            </div>
        </div>


    </div>

</form>


<!--主页table-->
<div class="panel-body" id="queryResult">
    <table id="mainDataGrid" class="table table-hover"></table>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" id="all-check-btn" >全部检查</button>
        <button type="button" class="btn btn-default" id="random-btn" >随机抽取</button>
        <button type="button" class="btn btn-default" id="print-btn" >打印</button>
        <button type="button" class="btn btn-default" id="export-btn" >导出</button>
        <button type="button" class="btn btn-default" id="close-btn" >关闭</button>
    </div>

</div>


<!-- 职工养老月报外支付人员明细  -->
<div class="modal fade" id="ylybzfDetail" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">职工养老月报外支付人员明细</h4>
            </div>
            <div class="modal-body">
                <form id="ylybzfDetailForm">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">身份证号码</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" name="bzhm" id="bzhm"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label  class="col-md-4 control-label">办理日期</label>
                                <div class="input-group col-md-8">
                                    <input class="form-control" type="date" name="blrq" id="blrqDetail" />
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">组织机构代码</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" name="dbjg" id="dbjgDetail"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label  class="col-md-4 control-label">报表日期</label>
                                <div class="input-group col-md-8">
                                    <input class="form-control" type="date" name="bbrq" id="bbrqDetail" />
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-md-4 control-label">单位名称</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" name="dwmc" id="dwmcDetail"/>
                                </div>
                            </div>
                        </div>
                        <input class="form-control" type="hidden" name="ywxh" id="ywxhDetail"/>
                        <input class="form-control" type="hidden" name="dwid" id="dwidDetail"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="query-ylybzfDetail-btn">查询</button>
                    </div>

                    <table id="ylybzfDetailDataGrid" class="table table-hover"></table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="check-btn">检查</button>
                <button type="button" class="btn btn-default" >重新检查</button>
                <button type="button" class="btn btn-default" >打印</button>
                <button type="button" class="btn btn-default" >导出</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div>
    </div>
</div>


<!-- 职工养老月报外支付人员明细 检查表格 -->
<div class="modal fade" id="ylybzfDetailCheck" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">检查结果</h4>
            </div>
            <div class="modal-body">

                <form id="resultDetailForm">
                    <table class="table table-bordered table-hover" id="ylybzfDetailCheckTable">
                        <tbody></tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id = "check-enter-btn">【确定】</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">【取消】</button>
            </div>
        </div>
    </div>
</div>


<!-- 个人详情信息 -->
<div class="modal fade" id="grDetailInfo" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:1050px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">检查结果</h4>
            </div>
            <div class="modal-body">
                <form id="grDetailInfoForm" th:object="${gr_detail_info}">
                    <table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse" width="1000">
                        <tr height="30">
                            <td colspan="6" style="text-align: center;">养老月报外支付人员详细情况</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 150px; padding-right:10px;">组织机构代码</td>
                            <td width="150px" th:text="*{dwmc}"></td>
                            <td style="text-align: right; width: 150px; padding-right:10px;">单位名称</td>
                            <td  colspan="3" width="150px"></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 150px; padding-right:10px;">姓名</td>
                            <td  width="150px"></td>
                            <td style="text-align: right; width: 150px; padding-right:10px;">公民身份号码</td>
                            <td  width="150px"></td>
                            <td style="text-align: right; width: 150px; padding-right:10px;">电脑序号</td>
                            <td  width="150px"></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 150px; padding-right:10px;">人员身份</td>
                            <td  width="150px"></td>
                            <td style="text-align: right; width: 150px; padding-right:10px;">发放地点</td>
                            <td  colspan="3" width="150px"></td>
                        </tr>
                        <tr>
                            <td colspan="6" style="text-align: center; ">各项金额</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 150px;padding-right:10px;">离退休金</td>
                            <td  width="150px"></td>
                            <td style="text-align: right; width: 150px;padding-right:10px;">各项补贴</td>
                            <td  width="150px">1</td>
                            <td style="text-align: right; width: 150px;padding-right:10px;">一次性支付个人账户</td>
                            <td  width="150px"></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 150px;padding-right:10px;">一次性支付补偿金</td>
                            <td  width="150px"></td>
                            <td style="text-align: right; width: 150px;padding-right:10px;">医疗费</td>
                            <td  width="150px">1</td>
                            <td style="text-align: right; width: 150px;padding-right:10px;">丧葬抚恤补助</td>
                            <td  width="150px"></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 150px;padding-right:10px;">补支基础性养老金</td>
                            <td  width="150px"></td>
                            <td style="text-align: right; width: 150px;padding-right:10px;">补支过渡性养老金</td>
                            <td  width="150px">1</td>
                            <td style="text-align: right; width: 150px;padding-right:10px;">补支个人账户</td>
                            <td  width="150px"></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 150px;padding-right:10px;">取暖补贴</td>
                            <td  width="150px"></td>
                            <td style="text-align: right; width: 150px;padding-right:10px;">护理费</td>
                            <td  width="150px">1</td>
                            <td style="text-align: right; width: 150px;padding-right:10px;">异地安置费</td>
                            <td  width="150px"></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 150px;padding-right:10px;">破产企业统筹外负担</td>
                            <td  width="150px"></td>
                            <td style="text-align: right; width: 150px;padding-right:10px;">救济金</td>
                            <td  width="150px">1</td>
                            <td style="text-align: right; width: 150px;padding-right:10px;">合计金额</td>
                            <td  width="150px"></td>
                        </tr>

                        <tr style="right: auto;">
                            <td colspan="6" style="text-align: right;">
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" id = "print-gr-btn">【打印】</button>
                                    <button type="button" class="btn btn-default" id = "export-gr-btn">【导出】</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">【返回】</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>
    </div>
</div>

</body>
</html>