<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrapselect/bootstrap-select.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-table/bootstrap-table.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-date/bootstrap-datetimepicker.css}"/>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/plugins/layui/css/layui.css}"/>-->

    <script type="application/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap-table/bootstrap-table-zh-CN.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrapselect/bootstrap-select.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootbox/bootbox.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootbox/bootbox.locales.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap-date/bootstrap-datetimepicker.js}"></script>
<!--    <script type="application/javascript" th:src="@{/plugins/layui/layui.js}"></script>-->
    <script type="application/javascript" th:src="@{/js/jquery.serializejson.js}"></script>
    <script type="application/javascript" th:src="@{/js/ylybcx/ylybcx.js}"></script>

    <style>

        #hoverspan:hover{
            font-weight:bold;
            color: red;
        }
        .datecss{
            border-radius: 4px;
            width: 250px !important;
        }
        .mylabelcss{
            display: inline-block;
            width: 120px;
            text-align: right;
        }

        .myinputcss{
            width: 250px !important;
        }


    </style>

    <script>
        .html()
    </script>



</head>
<body>

<form  id="mainform">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title accordion-toggle">监督检查/日常检查</h3>
        </div>

        <div class="panel-body" style="width: auto">

<!--            <div class="container">-->
                <div class="row clearfix">
                    <div class="col-md-4 column">
                        <div class="form-inline row">

                            <label class="control-label mylabelcss">经(代)办机构</label>
                            <select class="selectpicker" name="dbjg" id="dbjg" multiple>
<!--                                <option th:value="0">请选择</option>-->
                                <option th:each="option : ${DBJG_options.entrySet()}" th:value="${option.key}" th:text="${option.value}"></option>
                            </select>

                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <div class="form-inline row">
                            <label class="control-label mylabelcss" >统一社会信用代码</label>
                            <input class="form-control" type="text" name="xydm" style="width: 250px;"/>
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <div class="form-inline row">
                            <label class="control-label mylabelcss" >汇总人</label>
                            <select class="form-control" name="hzr" id="hzr" style="width: 250px;"></select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-8 column">
                        <div class="row clearfix">
                            <div class="form-inline row">
                                <label class="control-label" style="display:inline-block;width:135px; text-align: right;">汇总日期</label>
                                <input class="form-control" type="date" name="dateFrom" style="border-radius:4px;width: 250px;"/>

                                <label class="control-label">至</label>
                                <input class="form-control" type="date" name="dateTo" style="border-radius:4px;width: 250px;"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <div class="form-inline row" >
                            <label  class="control-label mylabelcss">报表日期</label>
                            <input class="form-control" type="date" name="reportdate" style="width: 250px;"/>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4 column">
                        <div class="form-inline row">
                            <label class="control-label mylabelcss" >支付原因</label>
                            <select class="form-control" name="zfyy" id="zfyy" style="width: 250px;"></select>
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <div class="form-inline row">
                            <label class="control-label mylabelcss">业务转财务标志</label>
                            <select class="form-control myinputcss" name="ywzcwbz" id="ywzcwbz"></select>
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <div class="form-inline row">
                            <label class="control-label  mylabelcss" >业务标志</label>
                            <select class="form-control  myinputcss" name="ywbz" id="ywbz"></select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4 column">
                        <div class="form-inline row">
                            <label class="control-label  mylabelcss" >财务标志</label>
                            <select class="form-control  myinputcss" name="cwbz" id="cwbz"></select>
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <div class="form-inline row">
                            <label class="control-label mylabelcss">支付金额大于</label>
                            <input class="form-control myinputcss" type="text" name="zfje"/>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <div class="form-inline row">
                            <label class="control-label mylabelcss">支付次数大于</label>
                            <input class="form-control myinputcss" type="text" name="zfcs"/>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4 column">
                        <div class="form-inline row">
                            <label class="control-label  mylabelcss" >附言</label>
                            <select class="form-control myinputcss" name="fy" id="fy"></select>
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <div class="form-inline row">
                            <label class="control-label  mylabelcss" >发放地点</label>
                            <select class="form-control myinputcss" name="fhdd" id="fhdd"></select>
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <div class="form-inline row">

                            <label class="control-label  mylabelcss" >检查类型</label>
                            <select class="form-control myinputcss" name="jclx" id="jclx"></select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-4 column">
                        <div class="form-inline row">
                            <label  class="control-label mylabelcss">月报生成日期起</label>
                            <input class="form-control myinputcss" type="date" name="ybdateFrom" />
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <div class="form-inline row">
                            <label class="control-label mylabelcss">月报生成日期止</label>
                            <input class="form-control myinputcss" type="date" name="ybdateTo" />
                            <input  type="hidden" name="mainoffset" id="mainoffset"/>
                            <input  type="hidden" name="mainlimit"  id="mainlimit"/>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <div class="form-inline row">


                        </div>
                    </div>
                </div>

<!--            </div>-->

            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="query_btn" >查询</button>
                <button type="reset" class="btn btn-default" id="clear_btn" >清空</button>
            </div>
        </div>
    </div>

</form>


<!--主页table-->
<div class="panel-body" id="queryResult">
    <div class="table-responsive">
        <table id="mainDataGrid" class="table text-nowrap"></table>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" id="all-check-btn" >全部检查</button>
        <button type="button" class="btn btn-default" id="random-btn" >随机抽取</button>
        <button type="button" class="btn btn-default" id="print-btn" >打印</button>
        <button type="button" class="btn btn-default" id="export-btn" >导出</button>
        <button type="button" class="btn btn-default" id="close-btn" >关闭</button>
    </div>

</div>


<!-- 职工养老月报外支付人员明细  -->
<div class="modal fade" id="ylybzfDetail" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">职工养老月报外支付人员明细</h4>
            </div>
            <div class="modal-body">
                <form id="ylybzfDetailForm">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">身份证号码</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" name="bzhm" id="bzhm"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label  class="col-md-4 control-label">办理日期</label>
                                <div class="input-group col-md-8">
                                    <input class="form-control" type="date" name="blrq" id="blrqDetail" />
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label">组织机构代码</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" name="dbjg" id="dbjgDetail"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label  class="col-md-4 control-label">报表日期</label>
                                <div class="input-group col-md-8">
                                    <input class="form-control" type="date" name="bbrq" id="bbrqDetail" />
                                </div>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-md-4 control-label">单位名称</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" name="dwmc" id="dwmcDetail"/>
                                </div>
                            </div>
                        </div>
                        <input class="form-control" type="hidden" name="ywxh" id="ywxhDetail"/>
                        <input class="form-control" type="hidden" name="dwid" id="dwidDetail"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="query-ylybzfDetail-btn">查询</button>
                    </div>

                    <div class="table-responsive">
                        <table id="ylybzfDetailDataGrid" class="table text-nowrap"></table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="check-btn">检查</button>
                <button type="button" class="btn btn-default" >重新检查</button>
                <button type="button" class="btn btn-default" >打印</button>
                <button type="button" class="btn btn-default" >导出</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div>
    </div>
</div>


<!-- 职工养老月报外支付人员明细 检查表格 -->
<div class="modal fade" id="ylybzfDetailCheck" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">检查结果</h4>
            </div>
            <div class="modal-body">

                <form id="resultDetailForm">
                    <table class="table table-bordered table-hover" id="ylybzfDetailCheckTable">
                        <tbody></tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id = "check-enter-btn">【确定】</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">【取消】</button>
            </div>
        </div>
    </div>
</div>


<!-- 个人详情信息 -->
<div class="modal fade" id="grDetailInfo" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:1050px;height: auto">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">养老月报外支付人员详细情况</h4>
            </div>
            <div class="modal-body">
                <form id="grDetailInfoForm">
                    <table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse" width="1000">
                        <tr height="30">
                            <td colspan="6" style="text-align: center; font-weight: bold;font-size: large">养老月报外支付人员详细情况</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 150px; padding-right:10px;font-weight: bold;">组织机构代码</td>
                            <td width="150px"><span name="dwdm"></span></td>
                            <td style="text-align: right; width: 150px; padding-right:10px;font-weight: bold;">单位名称</td>
                            <td  colspan="3" width="150px"><span name="dwmc"></span></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 150px; padding-right:10px;font-weight: bold;">姓名</td>
                            <td  width="150px"><span name="grname"></span></td>
                            <td style="text-align: right; width: 150px; padding-right:10px;font-weight: bold;">公民身份号码</td>
                            <td  width="150px"><span name="bzhm"></span></td>
                            <td style="text-align: right; width: 150px; padding-right:10px;font-weight: bold;">电脑序号</td>
                            <td  width="150px"><span name="bxh"></span></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 150px; padding-right:10px;font-weight: bold;">人员身份</td>
                            <td  width="150px"><span name="grsf"></span></td>
                            <td style="text-align: right; width: 150px; padding-right:10px;font-weight: bold;">发放地点</td>
                            <td  colspan="3" width="150px"><span name="ffdd"></span></td>
                        </tr>
                        <tr>
                            <td colspan="6" style="text-align: center; font-weight: bold;">各项金额</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 150px;padding-right:10px;font-weight: bold;">离退休金</td>
                            <td  width="150px"><span name="ltxj"></span></td>
                            <td style="text-align: right; width: 150px;padding-right:10px;font-weight: bold;">各项补贴</td>
                            <td  width="150px"><span name="gxbt"></span></td>
                            <td style="text-align: right; width: 150px;padding-right:10px;font-weight: bold;">一次性支付个人账户</td>
                            <td  width="150px"><span name="ycxzfgr"></span></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 150px;padding-right:10px;font-weight: bold;">一次性支付补偿金</td>
                            <td  width="150px"><span name="ycxzfbc"></span></td>
                            <td style="text-align: right; width: 150px;padding-right:10px;font-weight: bold;">医疗费</td>
                            <td  width="150px"><span name="ylf"></span></td>
                            <td style="text-align: right; width: 150px;padding-right:10px;font-weight: bold;">丧葬抚恤补助</td>
                            <td  width="150px"><span name="szfxj"></span></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 150px;padding-right:10px;font-weight: bold;">补支基础性养老金</td>
                            <td  width="150px"><span name="bzjcxylj"></span></td>
                            <td style="text-align: right; width: 150px;padding-right:10px;font-weight: bold;">补支过渡性养老金</td>
                            <td  width="150px"><span name="bzgdxylj"></span></td>
                            <td style="text-align: right; width: 150px;padding-right:10px;font-weight: bold;">补支个人账户</td>
                            <td  width="150px"><span name="bzgrzh"></span></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 150px;padding-right:10px;font-weight: bold;">取暖补贴</td>
                            <td  width="150px"><span name="qnbt"></span></td>
                            <td style="text-align: right; width: 150px;padding-right:10px;font-weight: bold;">护理费</td>
                            <td  width="150px"><span name="hlf"></span></td>
                            <td style="text-align: right; width: 150px;padding-right:10px;font-weight: bold;">异地安置费</td>
                            <td  width="150px"><span name="ydazf"></span></td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 150px;padding-right:10px;font-weight: bold;">破产企业统筹外负担</td>
                            <td  width="150px"><span name="pzqytcwfd"></span></td>
                            <td style="text-align: right; width: 150px;padding-right:10px;font-weight: bold;">救济金</td>
                            <td  width="150px"><span name="jjj"></span></td>
                            <td style="text-align: right; width: 150px;padding-right:10px;font-weight: bold;">合计金额</td>
                            <td  width="150px"><span name="hjje"></span></td>
                        </tr>

                        <tr style="right: auto;">
                            <td colspan="6" style="text-align: right;">
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" id = "print-gr-btn">【打印】</button>
                                    <button type="button" class="btn btn-default" id = "export-gr-btn">【导出】</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">【返回】</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>
    </div>
</div>


<!--导出模态框-->
<div class="modal fade" id="exportModal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">导出选择对话框</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    请选择【本页导出】、【全部导出】全部导出数据超过1万条时速度慢。
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="currentExprot">【本页导出】</button>
                <button type="button" class="btn btn-default" id="allExprot">【全部导出】</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">【返回】</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>