<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stcode.bootstrap.mapper.jgylybcx.JgYlYbCxMapper">

  <select id="getJgYlybcx" resultType="com.stcode.bootstrap.model.Ylybcx">
     SELECT a.GRID,a.YWXH,a.DWID,c.DWMC,a.BBRQ,a.JBR,a.BLRQ,b.SCRQ,
        b.ZFJE,a.FUYAN,b.FFFS,c.SSQX,d.XM GRNAME
        FROM GR_YLZF_YMX a
        LEFT JOIN YL_ZFYB b on a.YWXH = b.YWXH
        LEFT JOIN DW_XX	  c on a.DWID = c.DWID
        LEFT JOIN GR_XX   d on a.GRID = d.GRID
        WHERE a.JBR <![CDATA[ <> ]]> 'sys'
  </select>


    <select id="getJgYlybzfDetail" resultType="com.stcode.bootstrap.model.Ylybcx" parameterType="java.util.Map">
        SELECT a.GRID,a.YWXH,a.DWID,c.DWMC,a.BBRQ,a.JBR,a.BLRQ,b.SCRQ,
        b.ZFJE,a.FUYAN,b.FFFS,c.SSQX,d.XM GRNAME
        FROM GR_YLZF_YMX a
        LEFT JOIN YL_ZFYB b on a.YWXH = b.YWXH
        LEFT JOIN DW_XX	  c on a.DWID = c.DWID
        LEFT JOIN GR_XX   d on a.GRID = d.GRID
        WHERE a.JBR <![CDATA[ <> ]]> 'sys'  and a.DWID = #{dwid}
  </select>


</mapper>