<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stcode.bootstrap.mapper.jcjg.JcjgMapper">

    <insert id="insertJcjg" parameterType="com.stcode.bootstrap.model.Jcjg">
        insert
        into JC_JG (JCID,DWID,JCR,JCRQ,JC,CXJC,JCJG,MEMO,XM,YWXH,GRID,MKDM,MKMC)
        values (#{jcid,jdbcType=VARCHAR},#{dwid,jdbcType=VARCHAR}
        ,#{jcr,jdbcType=VARCHAR},TO_TIMESTAMP(to_char(#{jcrq},'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS.FF6')
        ,#{jc,jdbcType=VARCHAR},#{cxjc,jdbcType=VARCHAR}
        ,#{jcjg,jdbcType=VARCHAR},#{memo,jdbcType=VARCHAR},#{xm,jdbcType=VARCHAR},#{ywxh,jdbcType=VARCHAR}
        ,#{grid,jdbcType=VARCHAR},#{mkdm,jdbcType=VARCHAR},#{mkmc,jdbcType=VARCHAR})

    </insert>

    <select id="queryMXMC" resultType="String">
        select MXMC from DM_MX where DMLBID ='10101010' AND DMMXID in
        <foreach item="jcid" collection="jcids" open="(" separator="," close=")">
            #{jcid}
        </foreach>
    </select>

    <update id="updateJcjg" parameterType="com.stcode.bootstrap.model.Jcjg">
        update JC_JG
        <set>
            <if test="ywxh != null">
                YWXH = #{ywxh,jdbcType=VARCHAR},
            </if>
            <if test="jcr != null">
                JCR = #{jcr,jdbcType=VARCHAR},
            </if>
            <if test="jcrq != null">
                JCRQ = #{jcrq,jdbcType=DATE},
            </if>
            <if test="jcjg != null">
                JCJG = #{jcjg,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                MEMO = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="xm != null">
                XM = #{xm,jdbcType=VARCHAR},
            </if>
            <if test="cxjc != null">
                CXJC = #{cxjc,jdbcType=VARCHAR},
            </if>
            <if test="mkdm != null">
                MKDM = #{mkdm,jdbcType=VARCHAR},
            </if>
            <if test="mkmc != null">
                MKMC = #{mkmc,jdbcType=VARCHAR},
            </if>
            <if test="grid != null">
                GRID = #{grid,jdbcType=VARCHAR},
            </if>
            <if test="jcshr != null">
                JCSHR = #{jcshr,jdbcType=VARCHAR},
            </if>
            <if test="jcshrq != null">
                JCSHRQ = TO_TIMESTAMP(to_char(#{jcshrq},'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS.FF6'),
            </if>
            <if test="jcsh != null">
                JCSH = #{jcsh,jdbcType=VARCHAR},
            </if>
            <if test="jcshjg != null">
                JCSHJG = #{jcshjg,jdbcType=VARCHAR},
            </if>
            <if test="jcshbz != null">
                JCSHBZ = #{jcshbz,jdbcType=VARCHAR},
            </if>
            <if test="cxjcjg != null">
                CXJCJG = #{cxjcjg,jdbcType=VARCHAR},
            </if>
            <if test="cxxm != null">
                CXXM = #{cxxm,jdbcType=VARCHAR},
            </if>
            <if test="cxjcrq != null">
                CXJCRQ = TO_TIMESTAMP(to_char(#{cxjcrq},'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS.FF6'),
            </if>
            <if test="cxjcr != null">
                CXJCR = #{cxjcr,jdbcType=VARCHAR},
            </if>
            <if test="cxmemo != null">
                CXMEMO = #{cxmemo,jdbcType=VARCHAR}
            </if>
        </set>
        where JCID=#{jcid}
    </update>

    <insert id="addJcjgBatch" parameterType="java.util.List" useGeneratedKeys="false">
        INSERT INTO JC_JG
        (
            JCID, DWID, JCR, JCRQ, JC, CXJC, JCJG, MEMO, XM, YWXH, GRID, MKDM, MKMC
        )
        <foreach item="item" index="index" collection="list" separator="union all">
        (
            SELECT
                #{item.jcid,jdbcType=VARCHAR},
                #{item.dwid,jdbcType=VARCHAR},
                #{item.jcr,jdbcType=VARCHAR},
                TO_TIMESTAMP(to_char(#{item.jcrq},'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS.FF6'),
                #{item.jc,jdbcType=VARCHAR},
                #{item.cxjc,jdbcType=VARCHAR},
                #{item.jcjg,jdbcType=VARCHAR},
                #{item.memo,jdbcType=VARCHAR},
                #{item.xm,jdbcType=VARCHAR},
                #{item.ywxh,jdbcType=VARCHAR},
                #{item.grid,jdbcType=VARCHAR},
                #{item.mkdm,jdbcType=VARCHAR},
                #{item.mkmc,jdbcType=VARCHAR}
            FROM DUAL
        )
        </foreach>
    </insert>


    <update id="updateJcjgBatch" parameterType="java.util.List">
        <foreach collection="list" item="temp" index="index" open="begin" close=";end;" separator=";">
            update JC_JG
            <set>
                <if test="temp.ywxh != null">
                    YWXH = #{temp.ywxh,jdbcType=VARCHAR},
                </if>
                <if test="temp.jcr != null">
                    JCR = #{temp.jcr,jdbcType=VARCHAR},
                </if>
                <if test="temp.jcrq != null">
                    JCRQ = #{temp.jcrq,jdbcType=DATE},
                </if>
                <if test="temp.jcjg != null">
                    JCJG = #{temp.jcjg,jdbcType=VARCHAR},
                </if>
                <if test="temp.memo != null">
                    MEMO = #{temp.memo,jdbcType=VARCHAR},
                </if>
                <if test="temp.xm != null">
                    XM = #{temp.xm,jdbcType=VARCHAR},
                </if>
                <if test="temp.cxjc != null">
                    CXJC = #{temp.cxjc,jdbcType=VARCHAR},
                </if>
                <if test="temp.mkdm != null">
                    MKDM = #{temp.mkdm,jdbcType=VARCHAR},
                </if>
                <if test="temp.mkmc != null">
                    MKMC = #{temp.mkmc,jdbcType=VARCHAR},
                </if>
                <if test="temp.grid != null">
                    GRID = #{temp.grid,jdbcType=VARCHAR},
                </if>
                <if test="temp.jcshr != null">
                    JCSHR = #{temp.jcshr,jdbcType=VARCHAR},
                </if>
                <if test="temp.jcshrq != null">
                    JCSHRQ = TO_TIMESTAMP(to_char(#{temp.jcshrq},'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS.FF6'),
                </if>
                <if test="temp.jcsh != null">
                    JCSH = #{temp.jcsh,jdbcType=VARCHAR},
                </if>
                <if test="temp.jcshjg != null">
                    JCSHJG = #{temp.jcshjg,jdbcType=VARCHAR},
                </if>
                <if test="temp.jcshbz != null">
                    JCSHBZ = #{temp.jcshbz,jdbcType=VARCHAR},
                </if>
                <if test="temp.cxjcjg != null">
                    CXJCJG = #{temp.cxjcjg,jdbcType=VARCHAR},
                </if>
                <if test="temp.cxxm != null">
                    CXXM = #{temp.cxxm,jdbcType=VARCHAR},
                </if>
                <if test="temp.cxjcrq != null">
                    CXJCRQ = TO_TIMESTAMP(to_char(#{temp.cxjcrq},'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS.FF6'),
                </if>
                <if test="temp.cxjcr != null">
                    CXJCR = #{temp.cxjcr,jdbcType=VARCHAR},
                </if>
                <if test="temp.cxmemo != null">
                    CXMEMO = #{temp.cxmemo,jdbcType=VARCHAR}
                </if>

            </set>
            <where>
                 JCID=#{temp.jcid,jdbcType=VARCHAR}
            </where>
        </foreach>
    </update>

</mapper>