<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrapselect/bootstrap-select.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-table/bootstrap-table.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-date/bootstrap-datetimepicker.css}"/>

    <script type="application/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap-table/bootstrap-table-zh-CN.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrapselect/bootstrap-select.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootbox/bootbox.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootbox/bootbox.locales.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap-date/bootstrap-datetimepicker.js}"></script>
    <script type="application/javascript" th:src="@{/js/jquery.serializejson.js}"></script>
    <script type="application/javascript" th:src="@{/js/jgylybcx/jgylybcx.js}"></script>

    <style>

        #hoverspan:hover{
            font-weight:bold;
            color: red;
        }

        .mylabelcss{
            display: inline-block;
            width: 120px;
            text-align: right;
        }

        .myinputcss{
            width: 250px !important;
        }

    </style>

</head>
<body>

<form  id="mainform">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title accordion-toggle">监督检查/日常检查</h3>
        </div>

        <div class="panel-body" style="width: auto">

            <div class="row clearfix">
                <div class="col-md-4 column">
                    <div class="form-inline row">
                        <label class="control-label  mylabelcss">经(代)办机构</label>
                            <select class="selectpicker form-control" name="dbjg" id="dbjg" multiple>
                                <option th:each="option : ${DBJG_options.entrySet()}" th:value="${option.key}" th:text="${option.value}"></option>
                            </select>
                    </div>
                </div>
                <div class="col-md-4 column">
                    <div class="form-inline row">
                        <label class="control-label mylabelcss">单位名称</label>
                        <input class="form-control  myinputcss" type="text" name="dwmc"/>
                    </div>
                </div>
                <div class="col-md-4 column">
                    <div class="form-inline row">
                        <label class="control-label mylabelcss">统一社会信用代码</label>
                        <input class="form-control  myinputcss" type="text" name="dwdm"/>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-4 column">
                    <div class="form-inline row">
                        <label class="control-label mylabelcss">姓名</label>
                        <input class="form-control  myinputcss" type="text" name="grname"/>
                    </div>
                </div>
                <div class="col-md-4 column">
                    <div class="form-inline row">
                        <label class="control-label mylabelcss">公民身份证号</label>
                        <input class="form-control  myinputcss" type="text" name="bzhm"/>
                    </div>
                </div>
                <div class="col-md-4 column">
                    <div class="form-inline row">
                        <label class="control-label  mylabelcss" >附言</label>
                        <select class="form-control  myinputcss" name="fuyan" id="fuyan"></select>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-8 column">
                    <div class="row clearfix">
                        <div class="form-inline row">
                            <label class="control-label" style="display:inline-block;width:135px; text-align: right;">报表日期</label>
                            <input class="form-control" type="date" name="dateFrom" style="border-radius:4px;width: 250px;"/>

                            <label class="control-label">至</label>
                            <input class="form-control" type="date" name="dateTo" style="border-radius:4px;width: 250px;"/>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 column">
                    <div class="form-inline row" >
                        <label class="control-label  mylabelcss" >经办人</label>
                        <select class="form-control  myinputcss" name="jbr" id="jbr"></select>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-4 column">
                    <div class="form-inline row">
                        <label class="control-label mylabelcss">补支金额大于</label>
                        <input class="form-control  myinputcss" type="text" name="bzjgdy"/>
                    </div>
                </div>
                <div class="col-md-4 column">
                    <div class="form-inline row">
                        <label class="control-label  mylabelcss">检查类型</label>
                            <select class="selectpicker form-control" name="shlx" id="shlx" multiple>
                                <option th:each="option : ${SHBZ_options.entrySet()}" th:value="${option.key}" th:text="${option.value}"></option>
                            </select>
                    </div>
                </div>
                <div class="col-md-4 column">
                    <div class="form-inline row">
                        <label class="control-label  mylabelcss" >审核状态</label>
                        <select class="form-control  myinputcss" name="shbz" id="shbz"></select>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="query_btn" >查询</button>
                <button type="reset" class="btn btn-default" id="clear_btn" >清空</button>
            </div>
        </div>
    </div>


</form>


<!--主页table-->
<div class="panel-body" id="queryResult">
    <div class="table-responsive">
        <table id="mainDataGrid" class="table text-nowrap"></table>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" id="check-btn" >检查</button>
        <button type="button" class="btn btn-default" id="restart-check-btn" >重新检查</button>
        <button type="button" class="btn btn-default" id="examine-btn" >审核</button>
        <button type="button" class="btn btn-default" id="print-btn" >打印</button>
        <button type="button" class="btn btn-default" id="export-btn" >导出</button>
        <button type="button" class="btn btn-default" id="close-btn" >返回</button>
    </div>

</div>


<!-- 机关事业养老保险月报外支付明细  -->
<div class="modal fade" id="jgylycxfDetail" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">机关事业养老保险月报外支付明细</h4>
            </div>
            <div class="modal-body">
                <table id="jgylybzfDetailDataGrid" class="table table-hover"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" >导出</button>
                <button type="button" class="btn btn-default" >打印</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div>
    </div>
</div>



<!-- 机关事业养老保险月报外支付明细 检查表格 -->
<div class="modal fade" id="jgylybzfDetailCheck" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">检查结果</h4>
            </div>
            <div class="modal-body">

                <form id="jgresultDetailForm">
                    <table class="table table-bordered table-hover" id="jgylybzfDetailCheckTable">
                        <tbody></tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id = "check-enter-btn">【确定】</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">【取消】</button>
            </div>
        </div>
    </div>
</div>

<!--审核页面-->
<div class="modal fade" id="examineModal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">检查审核</h4>
            </div>
            <div class="modal-body">
               <form id="examineForm">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-2 control-label  required-label" >审核结果</label>
                            <div class="col-md-10">
                                <select class="form-control" name="shjg" id="shjg"></select>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                   <div class="row">
                       <div class="form-group">
                           <label class="col-md-2 control-label  required-label" >审核意见</label>
                           <div class="col-md-10">
                               <textarea class="form-control" style="resize: none" name="shyj" id="shyj"></textarea>
                               <span class="help-block"></span>
                           </div>
                       </div>
                   </div>
               </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" >确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>