<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stcode.bootstrap.mapper.grkszc.GrkszcMapper">

  <select id="getGrkszc" resultType="com.stcode.bootstrap.model.Grkszc">
    SELECT a.DWID,a.GRID,b.DWDM,b.DWMC,c.BZHM,c.xm grname,c.xb,a.ZHLB,a.ZCSBMC,a.ZRSBMC,d.dyrq,d.jbr
    FROM GR_YLJF_ZYD a
    LEFT JOIN DW_XX 	b ON a.DWID = b.DWID
    LEFT JOIN GR_XX 	c ON a.GRID = c.GRID
    LEFT JOIN GR_JFPZ   d ON a.GRID = d.GRID
      WHERE d.JBR <![CDATA[ <> ]]> 'sys'
  </select>


</mapper>