<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stcode.bootstrap.mapper.grkszc.GrkszcMapper">

  <select id="getGrkszc" resultType="com.stcode.bootstrap.model.Grkszc">
    SELECT
      a.DWID,
      a.GRID,
      b.DWDM,
      b.DWMC,
      c.BZHM,
      c.xm grname,
      c.xb,
      a.ZHLB,
      a.ZCSBMC,
      a.ZRSBMC,
      TO_CHAR(d.dyrq, 'yyyy-MM-dd') dyrq,
      d.jbr,
      e.JBR lxhjbr,
      e.blrq lxhblrq,
      f.JBR xxbjbr,
      TO_CHAR( f.BLRQ , 'yyyy-MM-dd HH24:mi:ss' ) xxbscrq,
      f.ZT,
      g.JCR,
      TO_CHAR( g.JCRQ, 'yyyy-MM-dd HH24:mi:ss' ) JCRQ,
      g.JC,
      g.CXJC,
      g.MEMO,
      g.jcid,
      g.jcshr,
      TO_CHAR( g.jcshrq, 'yyyy-MM-dd HH24:mi:ss' ) jcshrq,
      g.jcsh,
      g.jcshjg,
      g.jcshbz

    FROM GR_YLJF_ZYD a
    LEFT JOIN DW_XX 	    b ON a.DWID = b.DWID
    LEFT JOIN GR_XX 	    c ON a.GRID = c.GRID
    LEFT JOIN GR_JFPZ       d ON a.GRID = d.GRID
    LEFT JOIN GR_JFPZ_LXH   e on a.GRID = e.GRID
    LEFT JOIN GR_YLJF_ZYD   f on a.GRID = f.GRID
    LEFT JOIN JC_JG         g on a.GRID = g.GRID and a.DWID = g.DWID and g.MKDM='3'
    WHERE d.JBR <![CDATA[ <> ]]> 'sys'
      <if test="dbjg != null and dbjg != ''">
          and a.ZFQX in
          <foreach item="temp" collection="dbjgs"  open="(" separator="," close=")">
              #{temp}
          </foreach>
      </if>
      <if test="dwdm != null and dwdm != ''">
          and b.DWDM = #{dwdm,jdbcType=VARCHAR}
      </if>
      <if test="dwmc != null and dwmc != ''">
          and b.DWMC LIKE '%'||#{dwmc}||'%'
      </if>
      <if test="bzhm != null and bzhm != ''">
          and c.bzhm = #{bzhm,jdbcType=VARCHAR}
      </if>
      <if test="datefrom != null and datefrom != null and dateto != '' and dateto != ''">
          and a.BLRQ BETWEEN TO_DATE(#{datefrom,jdbcType=VARCHAR}, 'yyyy-mm-dd') and TO_DATE(#{dateto,jdbcType=VARCHAR}, 'yyyy-mm-dd')
      </if>
      <if test="zcsbmc != null and zcsbmc != ''">
          and a.ZCSBMC = #{zcsbmc,jdbcType=VARCHAR}
      </if>
      <if test="zrsbmc != null and zrsbmc != ''">
          and a.ZRSBMC = #{zrsbmc,jdbcType=VARCHAR}
      </if>
      <if test="grname != null and grname != ''">
          and c.xm LIKE '%'||#{grname}||'%'
      </if>
  </select>


  <select id="getGRDetailInfo" resultType="com.stcode.bootstrap.model.Grkszc" parameterType="com.stcode.bootstrap.model.Grkszc">
    SELECT a.GRID,a.XM grname,a.XB,a.HJSD,a.YZBM,a.BZHM,b.BXH,c.QRQ,
	            d.BDJFYS,d.LXDH,d.YJDZ,d.DWID,e.DWMC FROM GR_XX a

      LEFT JOIN GR_JFPZ_LXH     b on a.GRID = b.GRID
      LEFT JOIN GR_JFPZ 		c on a.GRID = c.GRID
      LEFT JOIN GR_YLJF_ZYD     d on a.GRID = d.GRID
      LEFT JOIN DW_XX			e on d.DWID = e.DWID

    WHERE a.GRID = #{grid,jdbcType=VARCHAR}


  </select>


  <select id="getGrlxhInfo" resultType="com.stcode.bootstrap.model.Grkszc" parameterType="com.stcode.bootstrap.model.Grkszc">

      SELECT a.GRID,a.XB,a.XM grname,b.BXH, b.GDBH,b.jbr,b.lxdh,a.bzhm,
          b.JFQXMC,b.CBRYXM,b.khqc,b.khyh,b.yhzh,b.sbjgdz,b.sbjgdzyzbm,b.newjfqxname
        FROM GR_XX a
        LEFT JOIN GR_JFPZ_LXH b on a.GRID = b.GRID

      WHERE a.GRID = #{grid,jdbcType=VARCHAR}

  </select>


  <select id="getGrxxbInfo" resultType="com.stcode.bootstrap.model.Grkszc" parameterType="com.stcode.bootstrap.model.Grkszc">

    SELECT b.GRID,b.DWID,c.dwmc,b.BXH,b.XM grname,b.XB,TO_CHAR(b.CSRQ, 'yyyy-MM-dd HH24:mi:ss')CSRQ,b.BZHM,b.HJSD,
              TO_CHAR(a.gzrq, 'yyyy-MM-dd')gzrq,
              TO_CHAR(a.cbdgrjfrq, 'yyyy-MM-dd')cbdgrjfrq,
              TO_CHAR(a.scjfrq, 'yyyy-MM-dd')scjfrq,
              TO_CHAR(a.grzhrq, 'yyyy-MM-dd')grzhrq,
              TO_CHAR(a.bdjfqrq, 'yyyy-MM-dd')bdjfqrq,
              TO_CHAR(a.bdjfzrq, 'yyyy-MM-dd')bdjfzrq,
              a.bdjfys,
              TO_CHAR(a.zyrq, 'yyyy-MM-dd')zyrq,
           to_Char(a.grjf_98q, 'fm999999999990.00') grjf_98q,
           to_Char(a.grzh_98h, 'fm999999999990.00') grzh_98h,
           to_Char(a.dngrzhbj, 'fm999999999990.00') dngrzhbj,
           to_Char(a.grzhzyze, 'fm999999999990.00') grzhzyze,
           to_Char(a.tcjjzyze, 'fm999999999990.00') tcjjzyze,
           to_Char(a.zyjjze, 'fm999999999990.00') zyjjze
    FROM gr_yljf_zyd a
    LEFT JOIN GR_XX 			b on a.GRID = b.GRID
    LEFT JOIN DW_XX			    c on a.DWID = c.DWID

    WHERE a.GRID = #{grid,jdbcType=VARCHAR}

  </select>



    <select id="getSearchXxb" resultType="com.stcode.bootstrap.model.Grkszc" parameterType="com.stcode.bootstrap.model.Grkszc">
        SELECT a.GRID,a.xzqh,b.MXMC xzmc,a.NIAN, to_Char(a.QRQ, 'YYYY-MM-DD')QRQ,a.YS,a.YJFJS,
                a.DWJFBL,a.dwhzbl,a.grjfbl,a.dnjzje,
                a.dngrjf,a.dnjzlx,a.dngrlx,a.zbnmljzhje,a.zbnmljgrjf
        FROM GR_YLJF_ZYD_JXMX a
        LEFT JOIN DM_MX b on a.xzqh = b.DMMXID and b.DMLBID = '0115'
        WHERE a.GRID = #{grid,jdbcType=VARCHAR}
  </select>

    <select id="getNoAllcheck" resultType="com.stcode.bootstrap.model.Grkszc">
        SELECT DWID,GRID
            FROM(
                SELECT
                a.DWID,
                a.GRID
                FROM GR_YLJF_ZYD a
                LEFT JOIN DW_XX 	    b ON a.DWID = b.DWID
                LEFT JOIN GR_XX 	    c ON a.GRID = c.GRID
                LEFT JOIN GR_JFPZ       d ON a.GRID = d.GRID
                LEFT JOIN GR_JFPZ_LXH   e on a.GRID = e.GRID
                LEFT JOIN GR_YLJF_ZYD   f on a.GRID = f.GRID
                LEFT JOIN JC_JG         g on a.GRID = g.GRID and a.DWID = g.DWID and g.MKDM='3'
                WHERE d.JBR <![CDATA[ <> ]]> 'sys'
                and  NOT EXISTS (SELECT * FROM JC_JG WHERE a.GRID=GRID AND MKDM='3')
                <if test="dbjg != null and dbjg != ''">
                    and a.ZFQX in
                    <foreach item="temp" collection="dbjgs"  open="(" separator="," close=")">
                        #{temp}
                    </foreach>
                </if>
                <if test="dwdm != null and dwdm != ''">
                    and b.DWDM = #{dwdm,jdbcType=VARCHAR}
                </if>
                <if test="dwmc != null and dwmc != ''">
                    and b.DWMC LIKE '%'||#{dwmc}||'%'
                </if>
                <if test="bzhm != null and bzhm != ''">
                    and c.bzhm = #{bzhm,jdbcType=VARCHAR}
                </if>
                <if test="datefrom != null and datefrom != null and dateto != '' and dateto != ''">
                    and a.BLRQ BETWEEN TO_DATE(#{datefrom,jdbcType=VARCHAR}, 'yyyy-mm-dd') and TO_DATE(#{dateto,jdbcType=VARCHAR}, 'yyyy-mm-dd')
                </if>
                <if test="zcsbmc != null and zcsbmc != ''">
                    and a.ZCSBMC = #{zcsbmc,jdbcType=VARCHAR}
                </if>
                <if test="zrsbmc != null and zrsbmc != ''">
                    and a.ZRSBMC = #{zrsbmc,jdbcType=VARCHAR}
                </if>
                <if test="grname != null and grname != ''">
                    and c.xm LIKE '%'||#{grname}||'%'
                </if>
            )
        GROUP BY GRID,DWID
    </select>
</mapper>