<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link th:href="@{/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/plugins/bootstrap-date/bootstrap-datetimepicker.css}" rel="stylesheet" />
    <link th:href="@{/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet" />


    <!--<link th:href="@{/css/common.css}" rel="stylesheet" />-->
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/plugins/bootstrap-date/bootstrap-datetimepicker.js}"></script>
    <script th:src="@{/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-table/bootstrap-table-zh-CN.js}"></script>
    <script th:src="@{/js/vst/vst.js}"></script>


    <style>
        label {
            text-align: right;
        }

    </style>

</head>
<body>
<script th:inline="javascript">
    //<![CDATA[


    // 定义删除、更新按钮
    function option(value, row, index) {
        var htm = "";
        htm += '<button id="dupdevice" deviceId="' + value +
            '" onclick="updDevice(' + value + ')">编辑</button>'
        return htm;
    }

    //表格超出宽度鼠标悬停显示td内容
    function paramsMatter(value, row, index) {
        var span = document.createElement("span");
        span.setAttribute("title", value);
        span.innerHTML = value;
        return span.outerHTML;
    }
    //td宽度以及内容超过宽度隐藏
    function formatTableUnit(value, row, index) {
        return {
            css: {
                "white-space": "nowrap",
                "text-overflow": "ellipsis",
                "overflow": "hidden",
                "max-width": "60px"
            }
        }
    }

    // 格式化性别"sex": 0,是女  "sex": 1,是男
    function formatSex(value, row, index) {
        return value == 1 ? "男" : "女";
    }
    // 格式化在离厂//"isLeave": 0,是离场，"isLeave": 1,是在场
    function formatIsLeave(value, row, index) {
        return value == 1 ? "离厂" : "在厂";
    }

    // 格式化时间
    function formatTime(value, row, index) {
        var date = new Date();
        date.setTime(value);
        var month = date.getMonth() + 1;
        var hours = date.getHours();
        if (hours < 10)
            hours = "0" + hours;
        var minutes = date.getMinutes();
        if (minutes < 10)
            minutes = "0" + minutes;
        var time = date.getFullYear() + "-" + month + "-" + date.getDate() +
            " " + hours + ":" + minutes;
        return time;
    }

    // 格式化访问理由 "viewReason": 1是面试,2是开会，3是拜访客户，4是项目实施
    function formatReason(value, row, index) {
        var str;
        switch (value) {
            case 1:
                str = "面试";
                break;
            case 2:
                str = "开会";
                break;
            case 3:
                str = "拜访客户";
                break;
            case 4:
                str = "项目实施";
                break;
            default:
                str = "其他";
        }
        return str;
    }

    // 删除按钮事件
    $("#remove").on("click", function() {

        if (!confirm("是否确认删除？"))
            return;
        var rows = $("#mytab").bootstrapTable('getSelections'); // 获得要删除的数据
        if (rows.length == 0) { // rows 主要是为了判断是否选中，下面的else内容才是主要
            alert("请先选择要删除的记录!");
            return;
        } else {
            var ids = new Array(); // 声明一个数组
            $(rows).each(function() { // 通过获得别选中的来进行遍历
                ids.push(this.id); // cid为获得到的整条数据中的一列
            });

            //后端删除的方法
            deleteMs(ids)
        }

    })

    // 删除访客,删除数据库内容，刷新表格即可删除
    function deleteMs(ids) {
        $.ajax({
            url: basePath + "/caller/dels?ids=" + ids,
            dataType: "json",
            type: "get",
            success: function(data) {
                if (data > 0) {
                    msg(6, "操作成功")
                    $('#mytab').bootstrapTable('refresh', {
                        url: basePath + '/caller/list'
                    });
                }
            }
        });
    }
    // 编辑访客
    function updDevice(id) {
        alert("编辑")
    }


    //]]>
</script>

<form  >

    <div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title accordion-toggle">监督检查/日常检查</h3>
    </div>

    <div class="panel-body">
        <div class="row">
            <!-- r1 -->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="col-lg-4 control-label  required-label" for="daiban">代办机构</label>
                    <div class="col-lg-8">
                        <select class="form-control" name="daiban">
                            <option value=""></option>
                            <option th:each="option : ${PUB_GOODS_TYPE_options.entrySet()}" th:value="${option.key}" th:text="${option.value}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label for="goodsCode" class="col-lg-4 control-label">统一社会信用代码</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="goodsName" class="col-lg-4 control-label">单位名称</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text"/>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="col-lg-4 control-label  required-label" for="daiban">险种</label>
                    <div class="col-lg-8">
                        <select class="form-control" name="daiban">
                            <option value=""></option>
                            <option th:each="option : ${PUB_GOODS_TYPE_options.entrySet()}" th:value="${option.key}" th:text="${option.value}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="col-lg-4 control-label  required-label" for="daiban">单位类型</label>
                    <div class="col-lg-8">
                        <select class="form-control" name="daiban">
                            <option value=""></option>
                            <option th:each="option : ${PUB_GOODS_TYPE_options.entrySet()}" th:value="${option.key}" th:text="${option.value}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="col-lg-4 control-label  required-label" for="daiban">机关事业标识</label>
                    <div class="col-lg-8">
                        <select class="form-control" name="daiban">
                            <option value=""></option>
                            <option th:each="option : ${PUB_GOODS_TYPE_options.entrySet()}" th:value="${option.key}" th:text="${option.value}"></option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- r1 -->
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="col-lg-4 control-label  required-label" for="daiban">增加方式</label>
                    <div class="col-lg-8">
                        <select class="form-control" name="daiban">
                            <option value=""></option>
                            <option th:each="option : ${PUB_GOODS_TYPE_options.entrySet()}" th:value="${option.key}" th:text="${option.value}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="form-group">


                        <div class="col-lg-4">
                            <label  class="col-lg-4 control-label">增加日期</label>
                            <div class="input-group col-lg-8">
                                <input class="form-control" type="date" name="dateFrom" />
                            </div>
                        </div>

                    <div class="col-lg-4">
                        <label class="col-lg-4 control-label">至</label>
                        <div class="input-group col-lg-8">
                            <input class="form-control" type="date" name="dateTo" />
                        </div>
                    </div>
                    <span class="help-block"></span>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="col-lg-4 control-label  required-label" for="daiban">缴费类型</label>
                    <div class="col-lg-8">
                        <select class="form-control" name="daiban">
                            <option value=""></option>
                            <option th:each="option : ${PUB_GOODS_TYPE_options.entrySet()}" th:value="${option.key}" th:text="${option.value}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="col-lg-4 control-label  required-label" for="daiban">隶属关系</label>
                    <div class="col-lg-8">
                        <select class="form-control" name="daiban">
                            <option value=""></option>
                            <option th:each="option : ${PUB_GOODS_TYPE_options.entrySet()}" th:value="${option.key}" th:text="${option.value}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="col-lg-4 control-label  required-label" for="daiban">行业性质</label>
                    <div class="col-lg-8">
                        <select class="form-control" name="daiban">
                            <option value=""></option>
                            <option th:each="option : ${PUB_GOODS_TYPE_options.entrySet()}" th:value="${option.key}" th:text="${option.value}"></option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="col-lg-4 control-label  required-label" for="daiban">经办人</label>
                    <div class="col-lg-8">
                        <select class="form-control" name="daiban">
                            <option value=""></option>
                            <option th:each="option : ${PUB_GOODS_TYPE_options.entrySet()}" th:value="${option.key}" th:text="${option.value}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="col-lg-4 control-label  required-label" for="daiban">重点关注</label>
                    <div class="col-lg-8">
                        <select class="form-control" name="daiban">
                            <option value=""></option>
                            <option th:each="option : ${PUB_GOODS_TYPE_options.entrySet()}" th:value="${option.key}" th:text="${option.value}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="col-lg-4 control-label  required-label" for="daiban">检查类型</label>
                    <div class="col-lg-8">
                        <select class="form-control" name="daiban">
                            <option value=""></option>
                            <option th:each="option : ${PUB_GOODS_TYPE_options.entrySet()}" th:value="${option.key}" th:text="${option.value}"></option>
                        </select>

                    </div>
                </div>
            </div>
        </div>


    </div>
        <button type="button" class="btn btn-default" id="query_btn" >查询</button>
        <button type="reset" class="btn btn-default" id="clear_btn" >清空</button>

</div>

</form>

<div class="panel-body" style="display: none" id="queryResult">
    <table id="cbdw" class="table table-hover"></table>

    <div class="panel-footer">
        <button type="button" class="btn btn-default" id="check-btn" >检查</button>
        <button type="button" class="btn btn-default" id="cancel-btn" >重新检查</button>
        <button type="button" class="btn btn-default" id="print-btn" >打印</button>
        <button type="button" class="btn btn-default" id="export-btn" >导出</button>
        <button type="button" class="btn btn-default" id="close-btn" >关闭</button>
    </div>
</div>



<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">检查结果</h4>
            </div>
            <div class="modal-body">
                <select aria-describedby="effectiveType_helpBlock" id="priceSelect">
                </select>
                <span>X</span>
                <input type="text" id="precentPrice" /> <span>%=</span>
                <select id="priceSelect1">
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="changePrice()">提交更改</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>

</body>

</html>