<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stcode.bootstrap.mapper.ylybcx.YlYbCxMapper">

  <select id="getYlybcx" resultType="com.stcode.bootstrap.model.Ylybcx">
      SELECT a.YWXH,a.DWID,b.DWMC,a.BBRQ,a.JBR,a.BLRQ,a.SCRQ,a.ZFJE,a.FUYAN,a.FFFS,b.SSQX FROM YL_ZFYB a
      LEFT JOIN DW_XX b on a.DWID = b.DWID
      WHERE a.JBR <![CDATA[ <> ]]> 'sys'
  </select>

  <select id="getYlybzfDetail" resultType="com.stcode.bootstrap.model.Ylybcx" parameterType="java.util.Map">
        SELECT a.GRID,a.YWXH,a.DWID,c.DWMC,a.BBRQ,a.JBR,a.BLRQ,b.SCRQ,
        b.ZFJE,a.FUYAN,b.FFFS,c.SSQX,d.XM GRNAME
        FROM GR_YLZF_YMX a
        LEFT JOIN YL_ZFYB b on a.YWXH = b.YWXH
        LEFT JOIN DW_XX	  c on a.DWID = c.DWID
        LEFT JOIN GR_XX   d on a.GRID = d.GRID
        WHERE a.JBR <![CDATA[ <> ]]> 'sys'  and a.DWID = #{dwid}
  </select>


    <select id="getGRDetailInfo" resultType="com.stcode.bootstrap.model.Grxx" parameterType="com.stcode.bootstrap.model.Ylybcx">
        SELECT
            max(a.GRID) GRID,max(a.DWID) DWID,max(a.XM) GRNAME,max(a.BZHM) BZHM,max(a.BXH) BXH,max(a.GRSF) GRSF,max(b.FFDD) FFDD,max(c.DWMC) DWMC
        FROM
        GR_XX a
        LEFT JOIN GR_YLZF_YMX 	b ON a.GRID = b.GRID
        LEFT JOIN DW_XX				c ON a.DWID = c.DWID
        WHERE
        a.GRID = #{grid,jdbcType=VARCHAR}
        AND b.JBR <![CDATA[ <> ]]> 'sys'
        <if test="dwid != null and dwid != ''">
            and a.DWID = #{dwid,jdbcType=VARCHAR}
        </if>
        GROUP BY
        a.GRID,a.DWID,a.XM ,a.BZHM,a.BXH,a.GRSF,b.FFDD,c.DWMC


    </select>





</mapper>