<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrapselect/bootstrap-select.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-table/bootstrap-table.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-date/bootstrap-datetimepicker.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jdjc_common.css}"/>

    <script type="application/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap-table/bootstrap-table-zh-CN.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrapselect/bootstrap-select.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootbox/bootbox.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootbox/bootbox.locales.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap-date/bootstrap-datetimepicker.js}"></script>
    <script type="application/javascript" th:src="@{/js/jquery.serializejson.js}"></script>
    <script type="application/javascript" th:src="@{/js/common/jdjc_common.js}"></script>
    <script type="application/javascript" th:src="@{/js/common/jdjc_100_common.js}"></script>

    <!-- 是否抽出公共方法   -->
    <script type="application/javascript" th:src="@{/js/hogan/hogan.js}"></script>
    <script type="application/javascript" th:src="@{/js/common/common.js}"></script>
    <script type="application/javascript" th:src="@{/js/util/mm.js}"></script>
    <script type="application/javascript" th:src="@{/js/util/temp.js}"></script>
    <script type="application/javascript" th:src="@{/js/service/common/commonService.js}"></script>
    <!--  公共方法  -->
    <script type="application/javascript" th:src="@{/js/jgjcZcCommon.js}"></script>

    <script type="application/javascript" th:src="@{/js/dwxxcx/dwxxcx.js}"></script>

    <style>

    </style>
</head>
<body>


<form  id="mainform">
    <div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title accordion-toggle">监督检查/日常检查</h3>
    </div>

    <div class="panel-body" style="width: auto">

        <div class="row clearfix">
            <div class="col-md-4 column">
                <div class="form-inline row">
                    <label class="control-label mylabelcss">经(代)办机构</label>
                    <select class="selectpicker" name="dbjg" id="dbjg" multiple>
                        <option th:each="option : ${DBJG_options.entrySet()}" th:value="${option.key}" th:text="${option.value}"></option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="form-inline row">
                    <label class="control-label mylabelcss" >统一社会信用代码</label>
                    <input class="form-control myinputcss" type="text" name="dwdm"/>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="form-inline row">
                    <label class="control-label mylabelcss">单位名称</label>
                    <input class="form-control  myinputcss" type="text" name="dwmc"/>
                    <span class="help-block"></span>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-4 column">
                <div class="form-inline row">
                    <label class="control-label  mylabelcss" >险种</label>
                    <select class="form-control myinputcss" name="xz" id="xz"></select>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="form-inline row">
                    <label class="control-label  mylabelcss" >单位类型</label>
                    <select class="form-control myinputcss" name="dwlx" id="dwlx"></select>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="form-inline row">
                    <label class="control-label  mylabelcss" >机关事业标识</label>
                    <select class="form-control myinputcss" name="jgsybs" id="jgsybs">
                        <option value="0" selected>否</option>
                        <option value="1">是</option>
                    </select>
                    <span class="help-block"></span>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-4 column">
                <div class="form-inline row">
                    <label class="control-label  mylabelcss" >增减方式</label>
                    <select class="form-control myinputcss" name="zjfs" id="zjfs"></select>
                </div>
            </div>
            <div class="col-md-8 column">
                <div class="row clearfix">
                    <div class="form-inline row">
                        <label class="control-label" style="display:inline-block;width:135px; text-align: right;">增减日期</label>
                        <input class="form-control" type="date" name="dateFrom" style="border-radius:4px;width: 250px;"/>

                        <label class="control-label">至</label>
                        <input class="form-control" type="date" name="dateTo" style="border-radius:4px;width: 250px;"/>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-4 column">
                <div class="form-inline row">
                    <label class="control-label  mylabelcss">缴费类型</label>
                    <select class="form-control myinputcss" name="jflx" id="jflx"></select>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="form-inline row">
                    <label class="control-label  mylabelcss" >隶属关系</label>
                    <select class="form-control myinputcss" name="lsgx" id="lsgx"></select>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="form-inline row">
                    <label class="control-label  mylabelcss">行业性质</label>
                    <select class="form-control myinputcss" name="hydm" id="hyxz"></select>
                    <span class="help-block"></span>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-4 column">
                <div class="form-inline row">
                    <label class="control-label  mylabelcss">经办人</label>
                    <select class="form-control myinputcss" name="jbr" id="jbr"></select>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="form-inline row">
                    <label class="control-label  mylabelcss" >重点关注</label>
                    <select class="form-control myinputcss" name="zdgz" id="zdgz"></select>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="form-inline row">
                    <label class="control-label  mylabelcss" >检查类型</label>
                    <select class="form-control myinputcss" name="jclx" id="jclx"></select>
                    <input  type="hidden" name="mainoffset" id="mainoffset"/>
                    <input  type="hidden" name="mainlimit"  id="mainlimit"/>
                    <input  type="hidden" name="detailoffset" id="detailoffset"/>
                    <input  type="hidden" name="detaillimit" id="detaillimit"/>
                    <input  type="hidden" name="dwid"  id="zjdwid"/>
                    <span class="help-block"></span>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" id="query_btn" >查询</button>
            <button type="reset" class="btn btn-default" id="clear_btn" >清空</button>
        </div>
    </div>


</div>

</form>

<div class="panel-body" id="queryResult">
    <div class="table-responsive">
        <table id="mainDataGrid" class="table text-nowrap"></table>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" id="check-btn" >检查</button>
        <button type="button" class="btn btn-default" id="restart-check-btn" >重新检查</button>
        <button type="button" class="btn btn-default" id="export-btn" >导出</button>
<!--        <button type="button" class="btn btn-default" id="close-btn" >关闭</button>-->
    </div>
</div>



<!-- 模态框（Modal） -->
<div class="modal fade" id="dwxxcxDetailCheck" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="height: 580px;overflow-x:hidden;overflow-y:auto">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">检查结果</h4>
            </div>
            <div class="modal-body">

                <form id="dwxxcxDetailForm">
                    <table class="table table-bordered table-hover" id="addP">
                        <tbody>

                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id = "check-enter-btn">【确定】</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">【关闭】</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>






<!-- 三减单位增减信息模态框（Modal） -->
<div class="modal fade" id="zjInfo" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">单位增减信息</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="table-responsive">
                        <table id="zjDataGrid" class="table text-nowrap"></table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="zj-export-btn">导出</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div>
    </div>
</div>





<!-- 检查结果模态框（Modal） -->
<div class="modal fade" id="cxjgModal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">检查结果</h4>
            </div>
            <div class="modal-body">
                <form>
                    <table id="cxjgDataGrid" class="table table-hover"></table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>

<!--导出模态框-->
<div class="modal fade" id="exportModal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">导出选择对话框</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    请选择【本页导出】、【全部导出】全部导出数据超过1万条时速度慢。
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="currentExprot">【本页导出】</button>
                <button type="button" class="btn btn-default" id="allExprot">【全部导出】</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">【返回】</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>

</body>

</html>