<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrapselect/bootstrap-select.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-table/bootstrap-table.min.css}"/>

    <script type="application/javascript" th:src="@{/js/jquery.js}"></script>

    <script type="application/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap-table/bootstrap-table-zh-CN.js}"></script>

    <script type="application/javascript" th:src="@{/plugins/bootstrapselect/bootstrap-select.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootbox/bootbox.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootbox/bootbox.locales.min.js}"></script>

    <script type="application/javascript" th:src="@{/js/dwxxcx/dwxxcx.js}"></script>

    <style>
        label {
            text-align: right;
        }

        #hoverspan:hover{
            font-weight:bold;
            color: red;
        }

        .btn-alertStyle{font-size: 12px;}
    </style>

</head>
<body>


<form  id="mainform">
    <div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title accordion-toggle">监督检查/日常检查</h3>
    </div>

    <div class="panel-body" style="width: auto">
        <div class="row">
            <!-- r1 -->
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label  required-label">代办机构</label>
                    <div class="col-md-8">
                        <select class="selectpicker form-control" name="dbjg" id="dbjg" multiple>
                                <option th:value="0">请选择</option>
                                <option th:each="option : ${DBJG_options.entrySet()}" th:value="${option.key}" th:text="${option.value}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label">统一社会信用代码</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="xydm"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label">单位名称</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="dwmc"/>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label  required-label" >险种</label>
                    <div class="col-md-8">
                        <select class="form-control" name="xz" id="xz"></select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label  required-label" >单位类型</label>
                    <div class="col-md-8">
                        <select class="form-control" name="dwlx" id="dwlx"></select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label  required-label" >机关事业标识</label>
                    <div class="col-md-8">
                        <select class="form-control" name="jgsybs" id="jgsybs">
                            <option value="0" selected>否</option>
                            <option value="1">是</option>
                        </select>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- r1 -->
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label  required-label" >增加方式</label>
                    <div class="col-md-8">
                        <select class="form-control" name="zjfs" id="zjfs"></select>
                    </div>

                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-6">
                        <label  class="col-md-4 control-label">增加日期</label>
                        <div class="input-group col-md-8">
                            <input class="form-control" type="date" name="dateFrom" />
                        </div>
                        <span class="help-block"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-4 control-label">至</label>
                        <div class="input-group col-md-8">
                            <input class="form-control" type="date" name="dateTo" />
                        </div>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label  required-label">缴费类型</label>
                    <div class="col-md-8">
                        <select class="form-control" name="jflx" id="jflx"></select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label  required-label" >隶属关系</label>
                    <div class="col-md-8">
                        <select class="form-control" name="lsgx" id="lsgx"></select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label  required-label">行业性质</label>
                    <div class="col-md-8">
                        <select class="form-control" name="hydm" id="hyxz"></select>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label  required-label">经办人</label>
                    <div class="col-md-8">
                        <select class="form-control" name="jbr" id="jbr"></select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label  required-label" >重点关注</label>
                    <div class="col-md-8">
                        <select class="form-control" name="zdgz" id="zdgz"></select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label  required-label" >检查类型</label>
                    <div class="col-md-8">
                        <select class="form-control" name="jclx" id="jclx"></select>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-default" id="query_btn" >查询</button>
        <button type="reset" class="btn btn-default" id="clear_btn" >清空</button>
    </div>


</div>

</form>

<div class="panel-body" style="display: none" id="queryResult">
    <table id="cbdw" class="table table-hover"></table>

    <div class="panel-footer">
        <button type="button" class="btn btn-default" id="check-btn" >检查</button>
        <button type="button" class="btn btn-default" id="again-check-btn" >重新检查</button>
        <button type="button" class="btn btn-default" id="print-btn" >打印</button>
        <button type="button" class="btn btn-default" id="export-btn" >导出</button>
        <button type="button" class="btn btn-default" id="close-btn" >关闭</button>
    </div>
</div>



<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">检查结果</h4>
            </div>
            <div class="modal-body">

                <form id="resultForm">
                    <table class="table table-bordered table-hover" id="addP">
                        <tbody>

                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id = "check-enter-btn">【确定】</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">【关闭】</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>






<!-- 三减单位增减信息模态框（Modal） -->
<div class="modal fade" id="companyInfo" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">单位增减信息</h4>
            </div>
            <div class="modal-body">
                <form>
                    <table id="companyDataGrid" class="table table-hover"></table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" >打印</button>
                <button type="button" class="btn btn-default" >导出</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>





<!-- 检查结果模态框（Modal） -->
<div class="modal fade" id="cxjgModal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">检查结果</h4>
            </div>
            <div class="modal-body">
                <form>
                    <table id="cxjgDataGrid" class="table table-hover"></table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>

<!--导出模态框-->
<div class="modal fade" id="exportModal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">导出选择对话框</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    请选择【本页导出】、【全部导出】全部导出数据超过1万条时速度慢。
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="currentExprot">【本页导出】</button>
                <button type="button" class="btn btn-default" id="allExprot">【全部导出】</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">【返回】</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>

</body>

</html>