<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stcode.bootstrap.mapper.grcbzbzy.GrcbzbzyMapper">

    <select id="search" resultType="com.stcode.bootstrap.model.Grcbzbzy">
        SELECT

            a.GRID,
            a.BZHM,
            a.XM grname,
            a.XB,
            a.LXDH,
            b.AAC009,


            c.ZSNX,


            c.BXHJ,
            d.JBR,
            d.BLRQ,

            b.CNV005,


            b.AIC083,
            b.AAE011,
            b.AAE035,

            e.JCR,
            e.jcrq,
            e.jc,
            e.cxjc,
            e.memo,
            e.jcshr,
            e.jcshrq,
            e.jcsh,
            e.jcshjg

        FROM GR_XX a
        LEFT JOIN ANV23 b 			on  a.GRID = b.ANV01ID
        LEFT JOIN NBZCB_ZYXX c 		on  a.BZHM = c.BZHM
        LEFT JOIN NBZCB_ZYD d  		on 	a.GRID = d.GRID
        LEFT JOIN JC_JG e 			on 	a.GRID = e.GRID AND e.MKDM ='grcbzbzy'


    </select>

    <select id="getGRDetailInfo" resultType="com.stcode.bootstrap.model.Grcbzbzy" parameterType="com.stcode.bootstrap.model.Grcbzbzy">
        select (nvl(dngrjf, 0) + nvl(dngrlx, 0) + nvl(zsngrjf, 0) + nvl(zsngrlx, 0) +
                   nvl(gcgrlx, 0) + nvl(dngrjfb, 0) + nvl(dngrlxb, 0)) nmgrjf,

                         (nvl(dndwhz, 0) + nvl(dnhzlx, 0) + nvl(zsndwhz, 0) + nvl(zsnhzlx, 0) +
                   nvl(gchzlx, 0) + nvl(dndwhzb, 0) + nvl(dnhzlxb, 0)) nmdwhz

        from gr_yljf_jsd
        where grid = #{grid,jdbcType=VARCHAR}
        and nian = (select max(nian) from gr_yljf_jsd where grid = #{grid,jdbcType=VARCHAR})
    </select>

    <select id="getGRDetailInfoJoint" resultType="com.stcode.bootstrap.model.Grcbzbzy" parameterType="com.stcode.bootstrap.model.Grcbzbzy">
            select nvl(sum(grjf),0) grjf, nvl(sum(dwhz),0) dwhz  from gr_yljf_yzh where grid = #{grid,jdbcType=VARCHAR} and to_char(jsrq,'yyyy') ='2020'
    </select>

</mapper>