<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stcode.bootstrap.mapper.DwXxMapper">
  <resultMap id="BaseResultMap" type="com.stcode.bootstrap.domain.DwXx">
    <result column="DWID" jdbcType="VARCHAR" property="dwid" />
    <result column="DWDM" jdbcType="VARCHAR" property="dwdm" />
    <result column="DJZH" jdbcType="VARCHAR" property="djzh" />
    <result column="DWMC" jdbcType="VARCHAR" property="dwmc" />
    <result column="DWJC" jdbcType="VARCHAR" property="dwjc" />
    <result column="JFQX" jdbcType="VARCHAR" property="jfqx" />
    <result column="ZFQXYL" jdbcType="VARCHAR" property="zfqxyl" />
    <result column="ZFQXGS" jdbcType="VARCHAR" property="zfqxgs" />
    <result column="ZFQXSY" jdbcType="VARCHAR" property="zfqxsy" />
    <result column="SSQX" jdbcType="VARCHAR" property="ssqx" />
    <result column="JJLX" jdbcType="VARCHAR" property="jjlx" />
    <result column="DWLX" jdbcType="VARCHAR" property="dwlx" />
    <result column="LSGX" jdbcType="VARCHAR" property="lsgx" />
    <result column="HYXT" jdbcType="VARCHAR" property="hyxt" />
    <result column="HYDM" jdbcType="VARCHAR" property="hydm" />
    <result column="CTFS" jdbcType="VARCHAR" property="ctfs" />
    <result column="JSFS" jdbcType="VARCHAR" property="jsfs" />
    <result column="JSZQ" jdbcType="DECIMAL" property="jszq" />
    <result column="SBFS" jdbcType="VARCHAR" property="sbfs" />
    <result column="EJID" jdbcType="VARCHAR" property="ejid" />
    <result column="TJLX1" jdbcType="VARCHAR" property="tjlx1" />
    <result column="TJLX2" jdbcType="VARCHAR" property="tjlx2" />
    <result column="TJLX3" jdbcType="VARCHAR" property="tjlx3" />
    <result column="TJLX4" jdbcType="VARCHAR" property="tjlx4" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="JBR" jdbcType="VARCHAR" property="jbr" />
    <result column="BLRQ" jdbcType="DATE" property="blrq" />
    <result column="TCBZ" jdbcType="VARCHAR" property="tcbz" />
    <result column="QXBM" jdbcType="VARCHAR" property="qxbm" />
    <result column="ZFQXSX" jdbcType="VARCHAR" property="zfqxsx" />
    <result column="SGQQ" jdbcType="DATE" property="sgqq" />
    <result column="SGQZ" jdbcType="DATE" property="sgqz" />
    <result column="WXQQ" jdbcType="DATE" property="wxqq" />
    <result column="WXQZ" jdbcType="DATE" property="wxqz" />
    <result column="JGQ" jdbcType="DATE" property="jgq" />
    <result column="YCQ" jdbcType="DATE" property="ycq" />
    <result column="JFTJ" jdbcType="VARCHAR" property="jftj" />
    <result column="YHJC" jdbcType="VARCHAR" property="yhjc" />
    <result column="KHQC" jdbcType="VARCHAR" property="khqc" />
    <result column="KHZH" jdbcType="VARCHAR" property="khzh" />
    <result column="YCQZ" jdbcType="DATE" property="ycqz" />
    <result column="KHHH" jdbcType="VARCHAR" property="khhh" />
    <result column="JGSYBS" jdbcType="VARCHAR" property="jgsybs" />
    <result column="JFLY" jdbcType="VARCHAR" property="jfly" />
    <result column="JGBZRS" jdbcType="DECIMAL" property="jgbzrs" />
    <result column="JFZHLX" jdbcType="VARCHAR" property="jfzhlx" />
    <result column="JGSYDWLB" jdbcType="VARCHAR" property="jgsydwlb" />
    <result column="QFYHHH" jdbcType="VARCHAR" property="qfyhhh" />
    <result column="SFSHH" jdbcType="VARCHAR" property="sfshh" />
    <result column="DWSZJBR" jdbcType="VARCHAR" property="dwszjbr" />
    <result column="JCR" jdbcType="VARCHAR" property="jcr" />
    <result column="JCRQ" jdbcType="DATE" property="jcrq" />
    <result column="JC" jdbcType="VARCHAR" property="jc" />
    <result column="CXJC" jdbcType="VARCHAR" property="cxjc" />
    <result column="JCJG" jdbcType="VARCHAR" property="jcjg" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DWID, DWDM, DJZH, DWMC, DWJC, JFQX, ZFQXYL, ZFQXGS, ZFQXSY, SSQX, JJLX, DWLX, LSGX, 
    HYXT, HYDM, CTFS, JSFS, JSZQ, SBFS, EJID, TJLX1, TJLX2, TJLX3, TJLX4, FLAG, JBR, 
    BLRQ, TCBZ, QXBM, ZFQXSX, SGQQ, SGQZ, WXQQ, WXQZ, JGQ, YCQ, JFTJ, YHJC, KHQC, KHZH, 
    YCQZ, KHHH, JGSYBS, JFLY, JGBZRS, JFZHLX, JGSYDWLB, QFYHHH, SFSHH, DWSZJBR, JCR, 
    JCRQ, JC, CXJC, JCJG, MEMO
  </sql>
  <select id="selectByExample" parameterType="com.stcode.bootstrap.domain.DwXxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from DW_XX
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.stcode.bootstrap.domain.DwXxExample">
    delete from DW_XX
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.stcode.bootstrap.domain.DwXx">
    insert into DW_XX (DWID, DWDM, DJZH, 
      DWMC, DWJC, JFQX, ZFQXYL, 
      ZFQXGS, ZFQXSY, SSQX, 
      JJLX, DWLX, LSGX, HYXT, 
      HYDM, CTFS, JSFS, JSZQ, 
      SBFS, EJID, TJLX1, 
      TJLX2, TJLX3, TJLX4, 
      FLAG, JBR, BLRQ, TCBZ, 
      QXBM, ZFQXSX, SGQQ, SGQZ, 
      WXQQ, WXQZ, JGQ, YCQ, 
      JFTJ, YHJC, KHQC, KHZH, 
      YCQZ, KHHH, JGSYBS, JFLY, 
      JGBZRS, JFZHLX, JGSYDWLB, 
      QFYHHH, SFSHH, DWSZJBR, 
      JCR, JCRQ, JC, CXJC, 
      JCJG, MEMO)
    values (#{dwid,jdbcType=VARCHAR}, #{dwdm,jdbcType=VARCHAR}, #{djzh,jdbcType=VARCHAR}, 
      #{dwmc,jdbcType=VARCHAR}, #{dwjc,jdbcType=VARCHAR}, #{jfqx,jdbcType=VARCHAR}, #{zfqxyl,jdbcType=VARCHAR}, 
      #{zfqxgs,jdbcType=VARCHAR}, #{zfqxsy,jdbcType=VARCHAR}, #{ssqx,jdbcType=VARCHAR}, 
      #{jjlx,jdbcType=VARCHAR}, #{dwlx,jdbcType=VARCHAR}, #{lsgx,jdbcType=VARCHAR}, #{hyxt,jdbcType=VARCHAR}, 
      #{hydm,jdbcType=VARCHAR}, #{ctfs,jdbcType=VARCHAR}, #{jsfs,jdbcType=VARCHAR}, #{jszq,jdbcType=DECIMAL}, 
      #{sbfs,jdbcType=VARCHAR}, #{ejid,jdbcType=VARCHAR}, #{tjlx1,jdbcType=VARCHAR}, 
      #{tjlx2,jdbcType=VARCHAR}, #{tjlx3,jdbcType=VARCHAR}, #{tjlx4,jdbcType=VARCHAR}, 
      #{flag,jdbcType=VARCHAR}, #{jbr,jdbcType=VARCHAR}, #{blrq,jdbcType=DATE}, #{tcbz,jdbcType=VARCHAR}, 
      #{qxbm,jdbcType=VARCHAR}, #{zfqxsx,jdbcType=VARCHAR}, #{sgqq,jdbcType=DATE}, #{sgqz,jdbcType=DATE}, 
      #{wxqq,jdbcType=DATE}, #{wxqz,jdbcType=DATE}, #{jgq,jdbcType=DATE}, #{ycq,jdbcType=DATE}, 
      #{jftj,jdbcType=VARCHAR}, #{yhjc,jdbcType=VARCHAR}, #{khqc,jdbcType=VARCHAR}, #{khzh,jdbcType=VARCHAR}, 
      #{ycqz,jdbcType=DATE}, #{khhh,jdbcType=VARCHAR}, #{jgsybs,jdbcType=VARCHAR}, #{jfly,jdbcType=VARCHAR}, 
      #{jgbzrs,jdbcType=DECIMAL}, #{jfzhlx,jdbcType=VARCHAR}, #{jgsydwlb,jdbcType=VARCHAR}, 
      #{qfyhhh,jdbcType=VARCHAR}, #{sfshh,jdbcType=VARCHAR}, #{dwszjbr,jdbcType=VARCHAR}, 
      #{jcr,jdbcType=VARCHAR}, #{jcrq,jdbcType=DATE}, #{jc,jdbcType=VARCHAR}, #{cxjc,jdbcType=VARCHAR}, 
      #{jcjg,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stcode.bootstrap.domain.DwXx">
    insert into DW_XX
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dwid != null">
        DWID,
      </if>
      <if test="dwdm != null">
        DWDM,
      </if>
      <if test="djzh != null">
        DJZH,
      </if>
      <if test="dwmc != null">
        DWMC,
      </if>
      <if test="dwjc != null">
        DWJC,
      </if>
      <if test="jfqx != null">
        JFQX,
      </if>
      <if test="zfqxyl != null">
        ZFQXYL,
      </if>
      <if test="zfqxgs != null">
        ZFQXGS,
      </if>
      <if test="zfqxsy != null">
        ZFQXSY,
      </if>
      <if test="ssqx != null">
        SSQX,
      </if>
      <if test="jjlx != null">
        JJLX,
      </if>
      <if test="dwlx != null">
        DWLX,
      </if>
      <if test="lsgx != null">
        LSGX,
      </if>
      <if test="hyxt != null">
        HYXT,
      </if>
      <if test="hydm != null">
        HYDM,
      </if>
      <if test="ctfs != null">
        CTFS,
      </if>
      <if test="jsfs != null">
        JSFS,
      </if>
      <if test="jszq != null">
        JSZQ,
      </if>
      <if test="sbfs != null">
        SBFS,
      </if>
      <if test="ejid != null">
        EJID,
      </if>
      <if test="tjlx1 != null">
        TJLX1,
      </if>
      <if test="tjlx2 != null">
        TJLX2,
      </if>
      <if test="tjlx3 != null">
        TJLX3,
      </if>
      <if test="tjlx4 != null">
        TJLX4,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="jbr != null">
        JBR,
      </if>
      <if test="blrq != null">
        BLRQ,
      </if>
      <if test="tcbz != null">
        TCBZ,
      </if>
      <if test="qxbm != null">
        QXBM,
      </if>
      <if test="zfqxsx != null">
        ZFQXSX,
      </if>
      <if test="sgqq != null">
        SGQQ,
      </if>
      <if test="sgqz != null">
        SGQZ,
      </if>
      <if test="wxqq != null">
        WXQQ,
      </if>
      <if test="wxqz != null">
        WXQZ,
      </if>
      <if test="jgq != null">
        JGQ,
      </if>
      <if test="ycq != null">
        YCQ,
      </if>
      <if test="jftj != null">
        JFTJ,
      </if>
      <if test="yhjc != null">
        YHJC,
      </if>
      <if test="khqc != null">
        KHQC,
      </if>
      <if test="khzh != null">
        KHZH,
      </if>
      <if test="ycqz != null">
        YCQZ,
      </if>
      <if test="khhh != null">
        KHHH,
      </if>
      <if test="jgsybs != null">
        JGSYBS,
      </if>
      <if test="jfly != null">
        JFLY,
      </if>
      <if test="jgbzrs != null">
        JGBZRS,
      </if>
      <if test="jfzhlx != null">
        JFZHLX,
      </if>
      <if test="jgsydwlb != null">
        JGSYDWLB,
      </if>
      <if test="qfyhhh != null">
        QFYHHH,
      </if>
      <if test="sfshh != null">
        SFSHH,
      </if>
      <if test="dwszjbr != null">
        DWSZJBR,
      </if>
      <if test="jcr != null">
        JCR,
      </if>
      <if test="jcrq != null">
        JCRQ,
      </if>
      <if test="jc != null">
        JC,
      </if>
      <if test="cxjc != null">
        CXJC,
      </if>
      <if test="jcjg != null">
        JCJG,
      </if>
      <if test="memo != null">
        MEMO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dwid != null">
        #{dwid,jdbcType=VARCHAR},
      </if>
      <if test="dwdm != null">
        #{dwdm,jdbcType=VARCHAR},
      </if>
      <if test="djzh != null">
        #{djzh,jdbcType=VARCHAR},
      </if>
      <if test="dwmc != null">
        #{dwmc,jdbcType=VARCHAR},
      </if>
      <if test="dwjc != null">
        #{dwjc,jdbcType=VARCHAR},
      </if>
      <if test="jfqx != null">
        #{jfqx,jdbcType=VARCHAR},
      </if>
      <if test="zfqxyl != null">
        #{zfqxyl,jdbcType=VARCHAR},
      </if>
      <if test="zfqxgs != null">
        #{zfqxgs,jdbcType=VARCHAR},
      </if>
      <if test="zfqxsy != null">
        #{zfqxsy,jdbcType=VARCHAR},
      </if>
      <if test="ssqx != null">
        #{ssqx,jdbcType=VARCHAR},
      </if>
      <if test="jjlx != null">
        #{jjlx,jdbcType=VARCHAR},
      </if>
      <if test="dwlx != null">
        #{dwlx,jdbcType=VARCHAR},
      </if>
      <if test="lsgx != null">
        #{lsgx,jdbcType=VARCHAR},
      </if>
      <if test="hyxt != null">
        #{hyxt,jdbcType=VARCHAR},
      </if>
      <if test="hydm != null">
        #{hydm,jdbcType=VARCHAR},
      </if>
      <if test="ctfs != null">
        #{ctfs,jdbcType=VARCHAR},
      </if>
      <if test="jsfs != null">
        #{jsfs,jdbcType=VARCHAR},
      </if>
      <if test="jszq != null">
        #{jszq,jdbcType=DECIMAL},
      </if>
      <if test="sbfs != null">
        #{sbfs,jdbcType=VARCHAR},
      </if>
      <if test="ejid != null">
        #{ejid,jdbcType=VARCHAR},
      </if>
      <if test="tjlx1 != null">
        #{tjlx1,jdbcType=VARCHAR},
      </if>
      <if test="tjlx2 != null">
        #{tjlx2,jdbcType=VARCHAR},
      </if>
      <if test="tjlx3 != null">
        #{tjlx3,jdbcType=VARCHAR},
      </if>
      <if test="tjlx4 != null">
        #{tjlx4,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="jbr != null">
        #{jbr,jdbcType=VARCHAR},
      </if>
      <if test="blrq != null">
        #{blrq,jdbcType=DATE},
      </if>
      <if test="tcbz != null">
        #{tcbz,jdbcType=VARCHAR},
      </if>
      <if test="qxbm != null">
        #{qxbm,jdbcType=VARCHAR},
      </if>
      <if test="zfqxsx != null">
        #{zfqxsx,jdbcType=VARCHAR},
      </if>
      <if test="sgqq != null">
        #{sgqq,jdbcType=DATE},
      </if>
      <if test="sgqz != null">
        #{sgqz,jdbcType=DATE},
      </if>
      <if test="wxqq != null">
        #{wxqq,jdbcType=DATE},
      </if>
      <if test="wxqz != null">
        #{wxqz,jdbcType=DATE},
      </if>
      <if test="jgq != null">
        #{jgq,jdbcType=DATE},
      </if>
      <if test="ycq != null">
        #{ycq,jdbcType=DATE},
      </if>
      <if test="jftj != null">
        #{jftj,jdbcType=VARCHAR},
      </if>
      <if test="yhjc != null">
        #{yhjc,jdbcType=VARCHAR},
      </if>
      <if test="khqc != null">
        #{khqc,jdbcType=VARCHAR},
      </if>
      <if test="khzh != null">
        #{khzh,jdbcType=VARCHAR},
      </if>
      <if test="ycqz != null">
        #{ycqz,jdbcType=DATE},
      </if>
      <if test="khhh != null">
        #{khhh,jdbcType=VARCHAR},
      </if>
      <if test="jgsybs != null">
        #{jgsybs,jdbcType=VARCHAR},
      </if>
      <if test="jfly != null">
        #{jfly,jdbcType=VARCHAR},
      </if>
      <if test="jgbzrs != null">
        #{jgbzrs,jdbcType=DECIMAL},
      </if>
      <if test="jfzhlx != null">
        #{jfzhlx,jdbcType=VARCHAR},
      </if>
      <if test="jgsydwlb != null">
        #{jgsydwlb,jdbcType=VARCHAR},
      </if>
      <if test="qfyhhh != null">
        #{qfyhhh,jdbcType=VARCHAR},
      </if>
      <if test="sfshh != null">
        #{sfshh,jdbcType=VARCHAR},
      </if>
      <if test="dwszjbr != null">
        #{dwszjbr,jdbcType=VARCHAR},
      </if>
      <if test="jcr != null">
        #{jcr,jdbcType=VARCHAR},
      </if>
      <if test="jcrq != null">
        #{jcrq,jdbcType=DATE},
      </if>
      <if test="jc != null">
        #{jc,jdbcType=VARCHAR},
      </if>
      <if test="cxjc != null">
        #{cxjc,jdbcType=VARCHAR},
      </if>
      <if test="jcjg != null">
        #{jcjg,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.stcode.bootstrap.domain.DwXxExample" resultType="java.lang.Long">
    select count(*) from DW_XX
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update DW_XX
    <set>
      <if test="record.dwid != null">
        DWID = #{record.dwid,jdbcType=VARCHAR},
      </if>
      <if test="record.dwdm != null">
        DWDM = #{record.dwdm,jdbcType=VARCHAR},
      </if>
      <if test="record.djzh != null">
        DJZH = #{record.djzh,jdbcType=VARCHAR},
      </if>
      <if test="record.dwmc != null">
        DWMC = #{record.dwmc,jdbcType=VARCHAR},
      </if>
      <if test="record.dwjc != null">
        DWJC = #{record.dwjc,jdbcType=VARCHAR},
      </if>
      <if test="record.jfqx != null">
        JFQX = #{record.jfqx,jdbcType=VARCHAR},
      </if>
      <if test="record.zfqxyl != null">
        ZFQXYL = #{record.zfqxyl,jdbcType=VARCHAR},
      </if>
      <if test="record.zfqxgs != null">
        ZFQXGS = #{record.zfqxgs,jdbcType=VARCHAR},
      </if>
      <if test="record.zfqxsy != null">
        ZFQXSY = #{record.zfqxsy,jdbcType=VARCHAR},
      </if>
      <if test="record.ssqx != null">
        SSQX = #{record.ssqx,jdbcType=VARCHAR},
      </if>
      <if test="record.jjlx != null">
        JJLX = #{record.jjlx,jdbcType=VARCHAR},
      </if>
      <if test="record.dwlx != null">
        DWLX = #{record.dwlx,jdbcType=VARCHAR},
      </if>
      <if test="record.lsgx != null">
        LSGX = #{record.lsgx,jdbcType=VARCHAR},
      </if>
      <if test="record.hyxt != null">
        HYXT = #{record.hyxt,jdbcType=VARCHAR},
      </if>
      <if test="record.hydm != null">
        HYDM = #{record.hydm,jdbcType=VARCHAR},
      </if>
      <if test="record.ctfs != null">
        CTFS = #{record.ctfs,jdbcType=VARCHAR},
      </if>
      <if test="record.jsfs != null">
        JSFS = #{record.jsfs,jdbcType=VARCHAR},
      </if>
      <if test="record.jszq != null">
        JSZQ = #{record.jszq,jdbcType=DECIMAL},
      </if>
      <if test="record.sbfs != null">
        SBFS = #{record.sbfs,jdbcType=VARCHAR},
      </if>
      <if test="record.ejid != null">
        EJID = #{record.ejid,jdbcType=VARCHAR},
      </if>
      <if test="record.tjlx1 != null">
        TJLX1 = #{record.tjlx1,jdbcType=VARCHAR},
      </if>
      <if test="record.tjlx2 != null">
        TJLX2 = #{record.tjlx2,jdbcType=VARCHAR},
      </if>
      <if test="record.tjlx3 != null">
        TJLX3 = #{record.tjlx3,jdbcType=VARCHAR},
      </if>
      <if test="record.tjlx4 != null">
        TJLX4 = #{record.tjlx4,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null">
        FLAG = #{record.flag,jdbcType=VARCHAR},
      </if>
      <if test="record.jbr != null">
        JBR = #{record.jbr,jdbcType=VARCHAR},
      </if>
      <if test="record.blrq != null">
        BLRQ = #{record.blrq,jdbcType=DATE},
      </if>
      <if test="record.tcbz != null">
        TCBZ = #{record.tcbz,jdbcType=VARCHAR},
      </if>
      <if test="record.qxbm != null">
        QXBM = #{record.qxbm,jdbcType=VARCHAR},
      </if>
      <if test="record.zfqxsx != null">
        ZFQXSX = #{record.zfqxsx,jdbcType=VARCHAR},
      </if>
      <if test="record.sgqq != null">
        SGQQ = #{record.sgqq,jdbcType=DATE},
      </if>
      <if test="record.sgqz != null">
        SGQZ = #{record.sgqz,jdbcType=DATE},
      </if>
      <if test="record.wxqq != null">
        WXQQ = #{record.wxqq,jdbcType=DATE},
      </if>
      <if test="record.wxqz != null">
        WXQZ = #{record.wxqz,jdbcType=DATE},
      </if>
      <if test="record.jgq != null">
        JGQ = #{record.jgq,jdbcType=DATE},
      </if>
      <if test="record.ycq != null">
        YCQ = #{record.ycq,jdbcType=DATE},
      </if>
      <if test="record.jftj != null">
        JFTJ = #{record.jftj,jdbcType=VARCHAR},
      </if>
      <if test="record.yhjc != null">
        YHJC = #{record.yhjc,jdbcType=VARCHAR},
      </if>
      <if test="record.khqc != null">
        KHQC = #{record.khqc,jdbcType=VARCHAR},
      </if>
      <if test="record.khzh != null">
        KHZH = #{record.khzh,jdbcType=VARCHAR},
      </if>
      <if test="record.ycqz != null">
        YCQZ = #{record.ycqz,jdbcType=DATE},
      </if>
      <if test="record.khhh != null">
        KHHH = #{record.khhh,jdbcType=VARCHAR},
      </if>
      <if test="record.jgsybs != null">
        JGSYBS = #{record.jgsybs,jdbcType=VARCHAR},
      </if>
      <if test="record.jfly != null">
        JFLY = #{record.jfly,jdbcType=VARCHAR},
      </if>
      <if test="record.jgbzrs != null">
        JGBZRS = #{record.jgbzrs,jdbcType=DECIMAL},
      </if>
      <if test="record.jfzhlx != null">
        JFZHLX = #{record.jfzhlx,jdbcType=VARCHAR},
      </if>
      <if test="record.jgsydwlb != null">
        JGSYDWLB = #{record.jgsydwlb,jdbcType=VARCHAR},
      </if>
      <if test="record.qfyhhh != null">
        QFYHHH = #{record.qfyhhh,jdbcType=VARCHAR},
      </if>
      <if test="record.sfshh != null">
        SFSHH = #{record.sfshh,jdbcType=VARCHAR},
      </if>
      <if test="record.dwszjbr != null">
        DWSZJBR = #{record.dwszjbr,jdbcType=VARCHAR},
      </if>
      <if test="record.jcr != null">
        JCR = #{record.jcr,jdbcType=VARCHAR},
      </if>
      <if test="record.jcrq != null">
        JCRQ = #{record.jcrq,jdbcType=DATE},
      </if>
      <if test="record.jc != null">
        JC = #{record.jc,jdbcType=VARCHAR},
      </if>
      <if test="record.cxjc != null">
        CXJC = #{record.cxjc,jdbcType=VARCHAR},
      </if>
      <if test="record.jcjg != null">
        JCJG = #{record.jcjg,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null">
        MEMO = #{record.memo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update DW_XX
    set DWID = #{record.dwid,jdbcType=VARCHAR},
      DWDM = #{record.dwdm,jdbcType=VARCHAR},
      DJZH = #{record.djzh,jdbcType=VARCHAR},
      DWMC = #{record.dwmc,jdbcType=VARCHAR},
      DWJC = #{record.dwjc,jdbcType=VARCHAR},
      JFQX = #{record.jfqx,jdbcType=VARCHAR},
      ZFQXYL = #{record.zfqxyl,jdbcType=VARCHAR},
      ZFQXGS = #{record.zfqxgs,jdbcType=VARCHAR},
      ZFQXSY = #{record.zfqxsy,jdbcType=VARCHAR},
      SSQX = #{record.ssqx,jdbcType=VARCHAR},
      JJLX = #{record.jjlx,jdbcType=VARCHAR},
      DWLX = #{record.dwlx,jdbcType=VARCHAR},
      LSGX = #{record.lsgx,jdbcType=VARCHAR},
      HYXT = #{record.hyxt,jdbcType=VARCHAR},
      HYDM = #{record.hydm,jdbcType=VARCHAR},
      CTFS = #{record.ctfs,jdbcType=VARCHAR},
      JSFS = #{record.jsfs,jdbcType=VARCHAR},
      JSZQ = #{record.jszq,jdbcType=DECIMAL},
      SBFS = #{record.sbfs,jdbcType=VARCHAR},
      EJID = #{record.ejid,jdbcType=VARCHAR},
      TJLX1 = #{record.tjlx1,jdbcType=VARCHAR},
      TJLX2 = #{record.tjlx2,jdbcType=VARCHAR},
      TJLX3 = #{record.tjlx3,jdbcType=VARCHAR},
      TJLX4 = #{record.tjlx4,jdbcType=VARCHAR},
      FLAG = #{record.flag,jdbcType=VARCHAR},
      JBR = #{record.jbr,jdbcType=VARCHAR},
      BLRQ = #{record.blrq,jdbcType=DATE},
      TCBZ = #{record.tcbz,jdbcType=VARCHAR},
      QXBM = #{record.qxbm,jdbcType=VARCHAR},
      ZFQXSX = #{record.zfqxsx,jdbcType=VARCHAR},
      SGQQ = #{record.sgqq,jdbcType=DATE},
      SGQZ = #{record.sgqz,jdbcType=DATE},
      WXQQ = #{record.wxqq,jdbcType=DATE},
      WXQZ = #{record.wxqz,jdbcType=DATE},
      JGQ = #{record.jgq,jdbcType=DATE},
      YCQ = #{record.ycq,jdbcType=DATE},
      JFTJ = #{record.jftj,jdbcType=VARCHAR},
      YHJC = #{record.yhjc,jdbcType=VARCHAR},
      KHQC = #{record.khqc,jdbcType=VARCHAR},
      KHZH = #{record.khzh,jdbcType=VARCHAR},
      YCQZ = #{record.ycqz,jdbcType=DATE},
      KHHH = #{record.khhh,jdbcType=VARCHAR},
      JGSYBS = #{record.jgsybs,jdbcType=VARCHAR},
      JFLY = #{record.jfly,jdbcType=VARCHAR},
      JGBZRS = #{record.jgbzrs,jdbcType=DECIMAL},
      JFZHLX = #{record.jfzhlx,jdbcType=VARCHAR},
      JGSYDWLB = #{record.jgsydwlb,jdbcType=VARCHAR},
      QFYHHH = #{record.qfyhhh,jdbcType=VARCHAR},
      SFSHH = #{record.sfshh,jdbcType=VARCHAR},
      DWSZJBR = #{record.dwszjbr,jdbcType=VARCHAR},
      JCR = #{record.jcr,jdbcType=VARCHAR},
      JCRQ = #{record.jcrq,jdbcType=DATE},
      JC = #{record.jc,jdbcType=VARCHAR},
      CXJC = #{record.cxjc,jdbcType=VARCHAR},
      JCJG = #{record.jcjg,jdbcType=VARCHAR},
      MEMO = #{record.memo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <sql id="dwcx_Column_List">
    DWID, DWMC, SSQX, DWDM, DWLX, LSGX, HYDM, JBR, JCR,JCRQ, JC, CXJC, JCJG, MEMO
  </sql>

  <select id="getCbdwxx" parameterType="com.stcode.bootstrap.domain.Dwxxcx" resultMap="BaseResultMap">

    SELECT a.DWID,a.DWMC,a.SSQX,a.DWDM,a.DWLX,a.LSGX,c.MXMC HYDM,a.JBR,d.MXMC ZJFS,b.ZJRQ,a.FLAG,e.JCJG,e.JCR,e.JC,e.CXJC,e.MEMO,
    (case when b.XZDM = '01' then '养老' else null end) yl,
    (case when b.XZDM = '02' then '失业' else null end) sy,
    (case when b.XZDM = '04' then '工伤' else null end) gs,
    (case when b.XZDM = '06' then '养老机关' else null end) jgyl
    FROM DW_XX a
    LEFT JOIN DW_ZJ b on a.DWID = b.DWID
    LEFT JOIN DM_MX c on a.HYDM = c.DMMXID AND c.DMLBID = '1108'
    LEFT JOIN DM_MX d on b.ZJFS = d.DMMXID AND d.DMLBID = '0173'
    LEFT JOIN JC_JG e on a.DWID = e.DWID   AND e.XM='1'

    WHERE
    1=1
    <if test="jgsybs != null and  jgsybs != '0'">
      and a.JGSYBS = #{jgsybs,jdbcType=VARCHAR}
    </if>
    <if test="jgsybs == '0'">
      and (a.JGSYBS = '0' or a.JGSYBS is null )
    </if>
    <if test="dbjg != null and dbjg != ''">
      and a.SSQX in
        <foreach item="temp" collection="dbjgs"  open="(" separator="," close=")">
             #{temp}
        </foreach>
    </if>
    <if test="xz != null and xz != ''">
      and a.FLAG =  #{xz,jdbcType=VARCHAR}
    </if>
    <if test="dateFrom != null and dateTo != null and dateFrom != '' and dateTo != ''">
     and a.BLRQ BETWEEN TO_DATE(#{dateFrom,jdbcType=VARCHAR}, 'yyyy-mm-dd') and TO_DATE(#{dateTo,jdbcType=VARCHAR}, 'yyyy-mm-dd')
    </if>
    <if test="dwmc != null and dwmc != ''">
      and a.DWMC LIKE '%'||#{dwmc}||'%'
    </if>
    <if test="lsgx != null and lsgx != ''">
      and a.LSGX = #{lsgx,jdbcType=VARCHAR}
    </if>
    <if test="jbr != null and jbr != ''">
      and a.JBR = #{jbr,jdbcType=VARCHAR}
    </if>
    <if test="dwlx != null and dwlx != ''">
      and a.DWLX = #{dwlx,jdbcType=VARCHAR}
    </if>
    <if test="hydm != null and hydm != ''">
      and a.HYDM = #{hydm,jdbcType=VARCHAR}
    </if>
    <if test="jflx != null and jflx != ''">
      and a.JSFS = #{jflx,jdbcType=VARCHAR}
    </if>
    <if test="xydm != null and xydm != ''">
      and a.DWDM = #{xydm,jdbcType=VARCHAR}
    </if>

  </select>


  <update id="updateByDwid" parameterType="String">
    update DW_XX
    <set>
      <if test="jcid != null">JCID=#{jcid}</if>
    </set>
    where DWID=#{dwid}
  </update>


  <select id="queryMXMC" resultType="String">
    select MXMC from DM_MX where DMLBID ='10101010' AND DMMXID in
    <foreach item="jcid" collection="jcids" open="(" separator="," close=")">
      #{jcid}
    </foreach>
  </select>

  <insert id="insertJcjg" parameterType="com.stcode.bootstrap.domain.Dwxxcx">
    insert
    into JC_JG (JCID,DWID,JCR,JCRQ,JC,CXJC,JCJG,MEMO,XM)
    values (#{jcid,jdbcType=VARCHAR},#{dwid,jdbcType=VARCHAR}
    ,#{jcr,jdbcType=VARCHAR},#{jcrq,jdbcType=DATE},#{jc,jdbcType=VARCHAR},#{cxjc,jdbcType=VARCHAR}
    ,#{jcjg,jdbcType=VARCHAR},#{memo,jdbcType=VARCHAR},#{xm,jdbcType=VARCHAR})

  </insert>

  <select id="selectJcjgByDwid" parameterType="String" resultType="com.stcode.bootstrap.domain.Dwxxcx">
    select JCID,XM,JCR,JCRQ,JCJG,MEMO,CXJC from JC_JG where DWID = #{dwid} order by XM ASC
  </select>


  <update id="updateJCJGByjcid" parameterType="com.stcode.bootstrap.domain.Dwxxcx">
    update JC_JG
    <set>
      <if test="jcr != null">
        JCR = #{jcr,jdbcType=VARCHAR},
      </if>
      <if test="jcrq != null">
        JCRQ = #{jcrq,jdbcType=DATE},
      </if>
      <if test="jcjg != null">
        JCJG = #{jcjg,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="xm != null">
        XM = #{xm,jdbcType=VARCHAR},
      </if>
      <if test="cxjc != null">
        CXJC = #{cxjc,jdbcType=VARCHAR}
      </if>
    </set>
    where JCID=#{jcid}
  </update>


  <select id="getZJByDwid" parameterType="String" resultType="com.stcode.bootstrap.domain.Dwxxcx">
      SELECT xx.DWID,xx.DWMC,xx.DWDM,xx.SSQX,xx.DJZH,zj.ZJRQ,zj.BZ MEMO,
        (case when zj.XZDM = '01' then '养老' else null end) yl,
		(case when zj.XZDM = '02' then '失业' else null end) sy,
		(case when zj.XZDM = '04' then '工伤' else null end) gs,
		(case when zj.XZDM = '06' then '养老机关' else null end) jgyl,
        zj.JBR
      from DW_ZJ zj
      LEFT JOIN DW_XX xx ON zj.DWID = XX.DWID
      WHERE xx.DWID =  #{dwid}
  </select>


  <select id="getAllNum" resultType="int">
        SELECT COUNT(*) FROM  DW_XX
  </select>

  <select id="getAllExprot" resultType="com.stcode.bootstrap.domain.Dwxxcx">
       SELECT DWMC,SSQX,DWDM,DWLX,HYDM,JBR FROM DW_XX
  </select>


</mapper>