<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrapselect/bootstrap-select.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-table/bootstrap-table.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap-date/bootstrap-datetimepicker.css}"/>

    <script type="application/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap-table/bootstrap-table-zh-CN.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrapselect/bootstrap-select.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootbox/bootbox.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootbox/bootbox.locales.min.js}"></script>
    <script type="application/javascript" th:src="@{/plugins/bootstrap-date/bootstrap-datetimepicker.js}"></script>
    <script type="application/javascript" th:src="@{/js/jquery.serializejson.js}"></script>
    <script type="application/javascript" th:src="@{/js/jgjcZcCommon.js}"></script>
    <script type="application/javascript" th:src="@{/js/grcbzbzy/grcbzbzy.js}"></script>

    <style>
        label {
            text-align: right;
        }

        #hoverspan:hover{
            font-weight:bold;
            color: red;
        }
        .myfieldClass{
            text-align: right;
            width: 150px;
            padding-right: 10px;
            font-weight: bold;
        }

    </style>

</head>
<body>

<form  id="mainform">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title accordion-toggle">监督检查/日常检查</h3>
        </div>

        <div class="panel-body" style="width: auto">

            <div class="row">
                <!-- r1 -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label  required-label">经(代)办机构</label>
                        <div class="col-md-8">
                            <select class="selectpicker form-control" name="dbjg" id="dbjg" multiple>
                                <option th:value="0">请选择</option>
                                <option th:each="option : ${DBJG_options.entrySet()}" th:value="${option.key}" th:text="${option.value}"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">社会保障号码</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="bzhm"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">姓名</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" name="grname"/>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label  class="col-md-4 control-label">办理日期起</label>
                        <div class="col-md-8">
                            <input class="form-control" type="date" name="dateFrom" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label  class="col-md-4 control-label">办理日期止</label>
                        <div class="col-md-8">
                            <input class="form-control" type="date" name="dateTo" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label  required-label" >检查类型</label>
                        <div class="col-md-8">
                            <select class="form-control" name="jclx" id="jclx"></select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>

            </div>



            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label  required-label" >转移方向</label>
                        <div class="col-md-8">
                            <select class="form-control" name="xzlx" id="xzlx"></select>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="query_btn" >查询</button>
                <button type="reset" class="btn btn-default"  id="clear_btn" >清空</button>
            </div>
        </div>
    </div>


</form>


<!--主页table-->
<div class="panel-body" id="queryResult">
    <table id="mainDataGrid" class="table table-hover"></table>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" id="check-btn" >检查</button>
        <button type="button" class="btn btn-default" id="restart-check-btn" >重新检查</button>
        <button type="button" class="btn btn-default" id="examine-btn" >检查审核</button>
        <button type="button" class="btn btn-default" id="export-btn" >导出</button>
        <button type="button" class="btn btn-default" id="close-btn" >返回</button>
    </div>

</div>

<!--居保职保间转移详细信息-->
<div class="modal fade" id="grcbzbzyModal" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:1050px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">居保职保间转移详细信息</h4>
            </div>
            <div class="modal-body">
                <form id="grcbzbzyForm">
                    <table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse" width="1000">
                        <tr >
                            <td colspan="7" class="myfieldClass1">
                                根据参保信息显示：您于2009年9月参加城乡居民基本养老保险，将于2020年8月达到待遇领取年龄。具体情况如下：
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="7" style="font-weight: bold;text-align: center;padding: 15px; width: 20px;">职工养老保险个人账户情况</td>
                            <td style="font-weight: bold;">职工缴费年限</td>
                            <td colspan="6"><span name="xb">1111</span></td>
                        </tr>
                        <tr>
                            <td colspan="7" style="font-weight: bold;">至上年末个人账户存储额</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="myfieldClass1" style="width: 200px;">合计</td>
                            <td colspan="2" class="myfieldClass1" style="width: 200px;">个人缴费</td>
                            <td colspan="2" class="myfieldClass1" style="width: 200px;">单位划转</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width: 200px;"><span name="bzhm">1</span></td>
                            <td colspan="2" style="width: 200px;"><span name="bzhm">1</span></td>
                            <td colspan="2" style="width: 200px;"><span name="bzhm">1</span></td>
                        </tr>
                        <tr>
                            <td colspan="7" class="myfieldClass1">当年个人账户</td>
                        </tr>
                        <tr>
                            <td  colspan="2" class="myfieldClass1" style="width: 200px;">合计</td>
                            <td  colspan="2" class="myfieldClass1" style="width: 200px;">个人缴费</td>
                            <td  colspan="2" class="myfieldClass1" style="width: 200px;">单位划转</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width: 200px;"><span name="bzhm">1</span></td>
                            <td colspan="2" style="width: 200px;"><span name="bzhm">1</span></td>
                            <td colspan="2" style="width: 200px;"><span name="bzhm">1</span></td>
                        </tr>

                    </table>

                    <table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse" width="1000">

                        <tr>
                            <td rowspan="7" width="20px" style="font-weight: bold;text-align: center;padding: 15px;">居民养老保险个人账户情况</td>
                            <td style="width: 200px;" colspan="2" class="myfieldClass1">应缴费年限</td>
                            <td style="width: 200px;" colspan="2"><span name="xb">1111</span></td>
                            <td style="width: 200px;" colspan="2" class="myfieldClass1">已缴费年限</td>
                            <td style="width: 200px;" colspan="2"><span name="xb">1111</span></td>
                        </tr>
                        <tr>
                            <td colspan="8" style="font-weight: bold;">至上年末个人账户存储额</td>
                        </tr>
                        <tr>
                            <td  colspan="2" class="myfieldClass1">合计</td>
                            <td  colspan="2" class="myfieldClass1">个人缴费</td>
                            <td  colspan="2" class="myfieldClass1">集体补助</td>
                            <td  colspan="2" class="myfieldClass1">财政补贴</td>
                        </tr>
                        <tr>
                            <td colspan="2" ><span name="bzhm">1</span></td>
                            <td colspan="2" ><span name="bzhm">1</span></td>
                            <td colspan="2" ><span name="bzhm">1</span></td>
                            <td colspan="2" ><span name="bzhm">1</span></td>
                        </tr>
                        <tr>
                            <td colspan="8" class="myfieldClass1">当年个人账户</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="myfieldClass1">合计</td>
                            <td colspan="2" class="myfieldClass1">个人缴费</td>
                            <td colspan="2" class="myfieldClass1">集体补助</td>
                            <td colspan="2" class="myfieldClass1">财政补贴</td>
                        </tr>
                        <tr>
                            <td colspan="2" ><span name="bzhm">1</span></td>
                            <td colspan="2" ><span name="bzhm">1</span></td>
                            <td colspan="2" ><span name="bzhm">1</span></td>
                            <td colspan="2" ><span name="bzhm">1</span></td>
                        </tr>
                        <tr>
                            <td colspan="8" class="myfieldClass1">转移接续情况</td>
                        </tr>
                    </table>

                    <table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse" width="1000">
                        <tr>
                            <td rowspan="2" class="myfieldClass1" width="90px" height="100px">
                                居民养老保险</br>
                                转</br>
                                职工养老保险
                            </td>
                            <td style="width: 200px;"  class="myfieldClass1">可折算职工养老保险年限</td>
                            <td style="width: 200px;"  class="myfieldClass1">折算后职工养老保险实际缴费年限</td>
                            <td style="width: 200px;"  class="myfieldClass1">重复缴费消退金额</td>
                            <td style="width: 200px;"  class="myfieldClass1">个人账户存储额</td>
                        </tr>
                        <tr>
                            <td style="width: 200px;" ><span name="bzhm">1</span></td>
                            <td style="width: 200px;" ><span name="bzhm">1</span></td>
                            <td style="width: 200px;" ><span name="bzhm">1</span></td>
                            <td style="width: 200px;" ><span name="bzhm">1</span></td>
                        </tr>
                        <tr>
                            <td rowspan="3" class="myfieldClass1" width="90px" height="150px">
                                职工养老保险</br>
                                转</br>
                                居民养老保险
                            </td>
                            <td style="width: 200px;"  class="myfieldClass1">可折算居民养老保险年限</td>
                            <td style="width: 200px;"  class="myfieldClass1">折算后居民养老保险实际缴费年限</td>
                            <td style="width: 200px;"  class="myfieldClass1">重复缴费消退金额</td>
                            <td style="width: 200px;"  class="myfieldClass1">个人账户存储额</td>
                        </tr>
                        <tr>
                            <td  style="width: 200px;"  ><span name="bzhm">1</span></td>
                            <td  style="width: 200px;"  ><span name="bzhm">1</span></td>
                            <td  style="width: 200px;"  ><span name="bzhm">1</span></td>
                            <td  style="width: 200px;"  ><span name="bzhm">1</span></td>
                        </tr>
                        <tr>
                            <td class="myfieldClass1">转移后是否可申领居民养老保险待遇</td>
                            <td  colspan="4"><span name="bzhm">1</span></td>
                        </tr>
                        <tr >
                            <td colspan="8">
                                清退个人账户金额:&nbsp;&nbsp;<span name=""></span>元 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;银行账号:<span name=""></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;银行类型:<span name=""></span>
                            </td>
                        </tr>
                        <tr >
                            <td colspan="8">
                                <div class="checkbox" style="padding-left: 10px;">
                                    <label>
                                        <input type="checkbox"> 您符合(含转移后符合)待遇领取条件,预估个人账户权益为26.3元/月
                                        (预估权益不代表最终权益,请以最终核定结果为准),请通过互联网渠道或线下渠道办理待遇领取手续。</br>
                                        您符合多缴条件，是否多缴: 是/否 多缴金额范围<span></span>元 ~ <span></span>元,选择多缴金额:<span></span>元

                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr >
                            <td colspan="8">
                                <div class="checkbox" style="padding-left: 10px;">
                                    <label>
                                        <input type="checkbox"> 您不符合(含转移后不符合)待遇领取条件。
                                        原因:享受职工养老待遇需延期缴费。应缴费年限12年,已缴费年限4年,需延期8年。
                                        需一次性趸缴,趸缴金额:<span></span>元
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr >
                            <td colspan="8">

                                <div class="radio" style="padding-left: 20px; ">
                                    参保人选择项

                                    <label style="padding-left: 30px;">
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> 职工转居民
                                    </label>


                                    <label class="checkbox-inline" style="padding-left: 50px;">
                                        <input type="checkbox" id="inlineCheckbox1" value="option1"> 延期缴费
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox2" value="option2"> 一次性趸缴
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox3" value="option3"> 多缴
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox4" value="option4"> 确认待遇
                                    </label>

                                </div>



                                <div class="radio" style="padding-left: 118px;">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked> 居民转职工
                                    </label>
                                </div>
                                <div class="radio" style="padding-left: 118px;">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" checked> 清算居民
                                    </label>
                                </div>


                            </td>
                        </tr>

                    </table>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" >导出</button>
                <button type="button" class="btn btn-default" >打印</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>